{"openapi":"3.1.0","info":{"title":"Planir Orchestrator API","version":"v1","description":"Generic, client-agnostic runtime provider over hardened sandboxed compute. A runtime is a durable, client-owned handle to a single sandboxed workload with its own persistent volume. Lifecycle verbs are async + idempotent (flip desired state → 202; the change applies shortly). The API exposes no placement detail beyond the region you choose, no direct network address for a workload, no storage backend, and no caller-domain concept — `clientRef` is the only correlation handle, and it is opaque. Rate limits: every /v1 route is metered per API key — a token bucket at the key's sustained rate (default 10 req/s) with a 2× burst, raised by a package override. Over budget → 429 `RATE_LIMITED` with a `Retry-After` header (whole seconds until a token refills); each route documents the 429. A 429 without a `Retry-After` header comes from infrastructure in front of the platform — treat it as retry-with-backoff regardless of body."},"servers":[{"url":"https://api.planir.io","description":"The published contract URL — also every generated client's default baseUrl."}],"security":[{"serviceToken":[]}],"tags":[{"name":"runtimes","description":"Runtime lifecycle, config, reach, logs, usage, events."},{"name":"health","description":"Public liveness."},{"name":"meta","description":"API version handshake."}],"components":{"securitySchemes":{"serviceToken":{"type":"http","scheme":"bearer","description":"Scoped service token bound to a caller principal. Missing/invalid → 401 UNAUTHENTICATED."}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["UNAUTHENTICATED","INVALID_REQUEST","NOT_FOUND","INVALID_STATE","CONFLICT","RATE_LIMITED","CONCURRENCY_LIMIT","RESOURCE_QUOTA","NO_CAPACITY","BILLING_NOT_READY","INSUFFICIENT_BALANCE","VOLUME_BUSY","REGISTRY_HOST_EXISTS","IMAGE_NOT_FOUND","UNSAFE_IMAGE_HOST","UNSUPPORTED_IMAGE_PLATFORM","INVALID_IMAGE_CONFIG","REGISTRY_UNAVAILABLE","TEAM_BLOCKED","INTERNAL"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The error envelope. `code` is an OPEN enum: new codes are additive under the platform compatibility policy — clients MUST tolerate codes not in this list (treat an unknown code as an unretryable failure of the request). Per-operation responses reference named schemas that narrow `code` to exactly what that operation+status emits; the wire shape is identical everywhere."},"WebhookEventEnvelope":{"type":"object","properties":{"id":{"type":"string","description":"The event id (`evt_<n>`, monotonic) — identical to the `webhook-id` header, and STABLE across retries and manual redelivery: deduplicate by it."},"version":{"type":"string","enum":["v1"],"description":"Envelope version. New event types arrive additively and never change it."},"type":{"$ref":"#/components/schemas/WebhookEventType"},"timestamp":{"type":"string","format":"date-time","description":"When the event occurred (not when this delivery was attempted)."},"team_id":{"type":"string","description":"The team the runtime belongs to."},"runtime_id":{"type":"string","description":"The runtime the event concerns."},"region":{"type":"string","description":"The public location of the runtime the event concerns — the same `region` its API responses echo (read at delivery time). No narrower placement detail ever appears."}},"required":["id","version","type","timestamp","team_id","runtime_id","region"]},"WebhookEventType":{"type":"string","enum":["runtime.lifecycle.created","runtime.lifecycle.running","runtime.lifecycle.error","runtime.lifecycle.destroyed","runtime.lifecycle.stopped","runtime.lifecycle.stop_failed"],"description":"A lifecycle event type, dot-namespaced. `created` = the runtime record exists; `running` = observed running; `error` = observed in error (fires per transition — deduplicate by event id); `destroyed` = observed destroyed (terminal). New types arrive additively; unknown types in a filter are refused at registration."},"HealthStatus":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]}},"required":["status"]},"ApiVersionInfo":{"type":"object","properties":{"version":{"type":"string","enum":["v1"]}},"required":["version"]},"UnauthenticatedError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["UNAUTHENTICATED"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The request carries no credential, or one that does not resolve to a live key."},"TeamBlockedError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["TEAM_BLOCKED"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The team is blocked: writes and non-billing reads are refused until support unblocks it."},"RateLimitedError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["RATE_LIMITED"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The per-key request-rate budget is exhausted; wait `Retry-After` seconds and retry."},"RuntimeWithObserved":{"allOf":[{"$ref":"#/components/schemas/Runtime"},{"type":"object","properties":{"observed":{"$ref":"#/components/schemas/Observed"}}}],"oneOf":[{"properties":{"timeout":{"type":"integer","enum":[0]},"timeoutAt":{"type":"null"}},"required":["timeout","timeoutAt"],"not":{"required":["onTimeout"]}},{"properties":{"desiredState":{"type":"string","enum":["running"]},"timeout":{"type":"integer","minimum":1,"maximum":2147483647},"onTimeout":{"type":"string","enum":["stop","destroy"]},"timeoutAt":{"type":"string","format":"date-time"}},"required":["desiredState","timeout","onTimeout","timeoutAt"]},{"properties":{"desiredState":{"type":"string","enum":["stopped","destroyed"]},"timeout":{"type":"integer","minimum":1,"maximum":2147483647},"onTimeout":{"type":"string","enum":["stop","destroy"]},"timeoutAt":{"type":"null"}},"required":["desiredState","timeout","onTimeout","timeoutAt"]}]},"ResourceSpec":{"type":"object","properties":{"memoryBytes":{"type":"integer","minimum":134217728,"description":"Customer workload container hard memory limit in bytes. Minimum 134217728 (128 MiB) — below that no real image starts, so sub-floor requests are rejected here instead of surfacing as a confusing workload failure after boot."},"cpuMillis":{"type":"integer","exclusiveMinimum":0,"description":"Customer workload container CPU quota in millicores (1000 = 1 vCPU of quota)."},"storageBytes":{"type":"integer","minimum":1073741824,"description":"Persistent volume size in bytes. The volume is mounted read-write at `/data` inside the workload; it survives stop/start and follows the runtime for life. Durability: every live volume is backed up daily to off-site object storage — 7-day retention. Backups are crash-consistent disaster-recovery copies: a restore point is normally under 24 hours old and never silently older than 26 hours — past that the platform raises an alarm. Keep your own backups of critical data. A live volume restore is on request today and arrives as a NEW volume (self-serve restore is planned). Volumes are not live-replicated. Writable by the workload's own user, whatever the image runs as — root or not, no setup needed: the volume root arrives group-writable to a platform group the workload process automatically carries as a supplementary group. Files the workload creates keep their normal ownership. Software that demands strict permissions on its data directory (e.g. PostgreSQL's initdb) should use a subdirectory and set its own mode (`mkdir -m 700 /data/pgdata`). This is the only metered disk."},"ephemeralStorageBytes":{"type":"integer","exclusiveMinimum":0,"description":"Rootfs scratch-disk budget in bytes. The rootfs is a real block disk of a fixed tier size (4 or 8 GiB); the ask rounds UP to the smallest tier that fits, and `df /` inside the workload reports that tier honestly. Persistence follows `preserveRootfs` (default true): `stop` commits the disk and the next `start` resumes it. Any OTHER restart — a crash, or a config/env change that recreates the workload — begins from the last committed image (the original image if it has never been stopped), so writes since that boot are lost. Durable data belongs on `/data`, which is unaffected either way. Bundled, never billed. Omitted → 4 GiB default. Free up to the 8 GiB cap; above the cap the request is rejected 422 — contact sales. Reads echo the requested value, never null. Filling the disk gives the writing process a plain ENOSPC write error — the workload keeps running; deleting files frees space immediately."}},"required":["memoryBytes","cpuMillis","storageBytes"]},"ReadinessSpec":{"type":"object","properties":{"port":{"type":"integer","minimum":1,"maximum":65535,"description":"Container port the HTTP readiness check hits."},"httpPath":{"type":"string","minLength":1,"pattern":"^\\/","description":"HTTP path probed for readiness; 2xx/3xx = ready."}},"required":["port","httpPath"],"description":"The explicit readiness gate as set at create. Absent = the TCP-first-port default."},"NetworkSpec":{"type":"object","properties":{"allowOut":{"type":"array","items":{"type":"string"},"maxItems":256,"description":"Allowlist mode when present: ONLY these destinations are reachable. Entries: IPv4 CIDRs or domain patterns (`*.` prefix wildcard). Domain rules follow DNS resolution — the documented industry limitation."},"denyOut":{"type":"array","items":{"type":"string"},"maxItems":256,"description":"Destinations denied even when allowed (deny wins). IPv4 CIDRs ONLY — no platform on this substrate class denies by domain; use allowOut to constrain by domain. Alone (no allowOut): open egress minus these ranges."}},"description":"The egress posture currently applied. Absent = the open default."},"Observed":{"type":"object","properties":{"phase":{"type":"string","enum":["provisioning","unschedulable","running","stopping","stopped","error","destroying","destroyed"],"description":"Observed box lifecycle phase. `running` means the Planir agent container is running; a port-bearing runtime additionally requires current Reach endpoint confirmation. Application readiness and entrypoint state do not otherwise govern this field. A runtime that stays `provisioning` for 5 minutes (300 000 ms) without reaching box-running flips to `error` — image-pull, box-boot, and agent crash-loop failures surface this way. `error` is not terminal: the platform keeps retrying, and a box that later runs returns to `running`. `unschedulable` means the location is waiting on capacity for this runtime — distinct from `provisioning` (coming up) and `error` (crashed/stuck), exempt from the 5-minute deadline, and self-correcting: when capacity frees it converges to `running` with no client action. Compute bills zero in the span; destroying instead of waiting is the client's call. `stopping` covers the whole stop teardown — from the stop being acted on until the compute is fully released (`stopped`); compute bills until the scheduled allocation is released. The set is additive over time — treat unknown phases as not-yet-running."},"generation":{"type":"integer","description":"The desired generation this reflects. 0 means no desired generation has been acknowledged."},"lastSeen":{"type":"string"},"restarts":{"type":"integer","description":"Planir agent container restart count. Absent until compute has been observed. A climbing count while phase sits at `provisioning` means the box supervisor is crashing at boot."},"lastExit":{"type":"object","properties":{"reason":{"type":"string","description":"Coarse terminal label (`Error`, `OOMKilled`, …) — stable vocabulary, not prose."},"exitCode":{"type":["integer","null"]},"at":{"type":["string","null"],"description":"When the container last exited (ISO-8601), if known."}},"required":["reason","exitCode","at"],"description":"The Planir agent container's last terminal exit. Absent while it has never died. Customer entrypoint state is reported separately in `observed.entrypoint`."},"entrypoint":{"oneOf":[{"type":"object","properties":{"state":{"type":"string","enum":["starting","running"]},"exitCode":{"type":"null"},"at":{"type":"null"}},"required":["state","exitCode","at"]},{"type":"object","properties":{"state":{"type":"string","enum":["exited"]},"exitCode":{"type":"integer"},"at":{"type":"string","format":"date-time"}},"required":["state","exitCode","at"]}],"description":"Current customer entrypoint state from the in-box agent. Signal exits use `128 + signal`. Absent unless the box is running and current agent status was observed; last-only, with no exit history."},"waitingReason":{"type":"string","enum":["ErrImagePull","ImagePullBackOff","ImageInspectError","ErrImageNeverPull","InvalidImageName"],"description":"Present exactly while the workload is stuck waiting on its IMAGE — a stable, machine-readable value, never raw registry text. A private image missing/mismatching its registry credential surfaces here as `ErrImagePull`/`ImagePullBackOff` long before the 5-minute `error` flip. A stored credential change becomes available after asynchronous propagation; a later pull can then recover without another lifecycle verb. Absent = not waiting on an image (normal boot, running, crashed — see `phase`/`lastExit` for those). The set is additive over time."}},"required":["phase","generation","lastSeen"],"description":"Absent until the platform records its first observation — normally within a few seconds of create. Absence means \"not yet observed\", never an error."},"Runtime":{"type":"object","properties":{"id":{"type":"string"},"desiredState":{"type":"string","enum":["running","stopped","destroyed"]},"timeout":{"type":"integer","minimum":0,"maximum":2147483647,"description":"Configured runtime lifetime in seconds. 0 means unlimited."},"timeoutAt":{"type":["string","null"],"format":"date-time","description":"Current absolute deadline while a configured runtime is desired-running; null otherwise."},"onTimeout":{"type":"string","enum":["stop","destroy"],"description":"Configured deadline action. Present only while timeout is positive."},"generation":{"type":"integer","description":"Starts at 1. Increments for a real start, stop, destroy, timeout lifecycle action, config change, effective environment change, runtime-key rotation, network change, restart, or first accepted force termination. Canonically identical replays and metadata, timeout-policy, registry-credential, agent-token, and provider-state updates do not increment it."},"spawn":{"type":"boolean","description":"Whether runtime-bound child management is enabled."},"image":{"type":"string","description":"The image ref this runtime runs (echoed from create)."},"env":{"type":"object","additionalProperties":{"type":"string"},"description":"The env map, echoed in full ({} when none) — env is configuration, not a secret store."},"command":{"type":"array","items":{"type":"string"},"description":"The CMD override as set at create. Absent = the resolved image CMD was used. This field echoes the request override, not the resolved final argv."},"entrypoint":{"type":"array","items":{"type":"string"},"description":"The ENTRYPOINT override as set at create. Absent = the resolved image ENTRYPOINT was used. This field echoes the request override, not the resolved final argv."},"resources":{"$ref":"#/components/schemas/ResourceSpec"},"volumeId":{"type":"string","description":"The volume mounted at `/data`."},"rootfsReadOnly":{"type":"boolean","description":"The rootfs hardening knob as set at create (default false)."},"preserveRootfs":{"type":"boolean","description":"Rootfs preservation at stop as set at create (default true) — false = the throwaway stop (rootfs discarded, `/data` survives)."},"ports":{"type":"array","items":{"type":"integer","minimum":1,"maximum":65535,"description":"Internal port the workload listens on (HTTP). Declared by the client; never inferred."},"description":"Exposed ports the client declared at create (echoed back as bare integers)."},"urls":{"type":"object","additionalProperties":{"type":"string"},"description":"Reach handle per declared port, keyed by the port number as a string ({} when no ports are declared). The same opaque, placement-free handle POST /v1/runtimes/{id}/reach returns — the client parses nothing out of it. The handle exists from create; it serves traffic once the workload passes readiness (before that the edge answers with an error status)."},"readiness":{"$ref":"#/components/schemas/ReadinessSpec"},"network":{"$ref":"#/components/schemas/NetworkSpec"},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Correlation labels, echoed in full ({} when none)."},"region":{"type":"string","description":"The public location this runtime runs in (e.g. \"brq\") — the resolved value, always present (the client's choice, or the default when omitted). No narrower placement detail is exposed."},"clientRef":{"type":"string"}},"required":["id","desiredState","timeout","timeoutAt","generation","spawn","image","env","resources","volumeId","rootfsReadOnly","preserveRootfs","ports","urls","metadata","region","clientRef"],"oneOf":[{"properties":{"timeout":{"type":"integer","enum":[0]},"timeoutAt":{"type":"null"}},"required":["timeout","timeoutAt"],"not":{"required":["onTimeout"]}},{"properties":{"desiredState":{"type":"string","enum":["running"]},"timeout":{"type":"integer","minimum":1,"maximum":2147483647},"onTimeout":{"type":"string","enum":["stop","destroy"]},"timeoutAt":{"type":"string","format":"date-time"}},"required":["desiredState","timeout","onTimeout","timeoutAt"]},{"properties":{"desiredState":{"type":"string","enum":["stopped","destroyed"]},"timeout":{"type":"integer","minimum":1,"maximum":2147483647},"onTimeout":{"type":"string","enum":["stop","destroy"]},"timeoutAt":{"type":"null"}},"required":["desiredState","timeout","onTimeout","timeoutAt"]}]},"InvalidRequestError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INVALID_REQUEST"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"Shape validation refused the request: bad JSON, a malformed field, or a violated bound."},"InsufficientBalanceError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INSUFFICIENT_BALANCE"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"Metered admission refused the create/start: the balance is not positive. Top up first."},"RuntimeCreateNotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NOT_FOUND","IMAGE_NOT_FOUND"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The volume is unavailable, or the image is absent or inaccessible; code distinguishes the resource class."},"RuntimeCreateConflictError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["CONFLICT","VOLUME_BUSY","INVALID_STATE"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"Create refused by a conflict — `code` names which. CONFLICT: the Idempotency-Key was reused with a DIFFERENT effective request (same key + same request replays idempotently; a different request needs a fresh key). VOLUME_BUSY: the volume named by `volumeId` is attached elsewhere — destroy the holding runtime first. INVALID_STATE: the volume is still creating; retry when it is available."},"RuntimeCreatePolicyError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INVALID_REQUEST","UNSAFE_IMAGE_HOST","UNSUPPORTED_IMAGE_PLATFORM","INVALID_IMAGE_CONFIG"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"A create policy or permanent image-input condition refused the request; code names the cause."},"LimitExceededError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["RATE_LIMITED","CONCURRENCY_LIMIT","RESOURCE_QUOTA"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"A limit refused the request — `code` names which: RATE_LIMITED = request-rate budget (wait `Retry-After`, retry); CONCURRENCY_LIMIT = the running-runtime cap (a quota — destroy a runtime or raise the cap; retrying without that cannot succeed, and no Retry-After is sent); RESOURCE_QUOTA = a per-family vCPU/memory ceiling would be passed (resource-governance Gate C) or the team's total provisioned-storage entitlement would be passed; release the named resource or raise its entitlement (no Retry-After)."},"ProvisioningUnavailableError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NO_CAPACITY","BILLING_NOT_READY","REGISTRY_UNAVAILABLE"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"New allocation is temporarily unavailable because placement has no capacity, billing catch-up is incomplete, or the image registry is unavailable. Nothing is provisioned or charged; retry later."},"CreateRuntimeRequest":{"type":"object","properties":{"clientRef":{"type":"string","minLength":1,"description":"Opaque client correlation handle. No shared id-space, no FK. Optional — the orchestrator generates one when omitted (echoed on reads)."},"image":{"type":"string","minLength":1,"description":"Resolved container image ref the orchestrator pulls. Echoed back on every Runtime read. Private images are supported via stored registry credentials (`/v1/registry-credentials`), matched by registry host with no extra create field. Compatible examples are GHCR PAT, GitLab deploy token, quay robot, GAR `_json_key`, and ACR service principal; ECR is unsupported because its 12-hour tokens are not long-lived static credentials. Fresh create uses the current committed credential when it contacts the host origin. Later origin pulls observe credential changes after asynchronous propagation; the prior state can remain effective until then. A rejected effective credential is not retried anonymously at that origin. Running containers continue through credential changes. The image is resolved to a digest at create; the digest fixes the later image identity, but create-time process metadata is not bound to those bytes. Images that require their own PID 1, such as systemd or s6 images, are unsupported. Images that require content at /__planir or /__planir-state are unsupported."},"config":{"type":"string","minLength":1,"maxLength":1048576,"pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","description":"Optional opaque workload config, base64 over the wire (see the config description). Omitted = no config file is mounted at /etc/planir/config."},"env":{"type":"object","additionalProperties":{"type":"string"},"description":"Optional env vars (default {}). See the EnvMap description."},"spawn":{"type":"boolean","description":"Issue one runtime-bound credential for depth-one child runtime management."},"command":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"description":"Optional CMD override (argv array, no shell). With no entrypoint override, it replaces the image CMD and follows the image ENTRYPOINT. Omitted = image CMD. Create-time only — there is no replace verb; recreate to change it."},"entrypoint":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"description":"Optional ENTRYPOINT override (argv array, no shell). It replaces the image ENTRYPOINT and image CMD; an explicit command is appended. Omitted = image ENTRYPOINT. Create-time only — there is no replace verb."},"resources":{"$ref":"#/components/schemas/ResourceSpecInput"},"volumeId":{"type":"string","minLength":1,"description":"Attach an EXISTING standalone volume (POST /v1/volumes) at `/data` instead of auto-creating one. The volume defines the storage size — mutually exclusive with `resources.storageBytes` (400 when both are present); mount and ownership semantics are identical. Runtime destroy then DETACHES the volume (back to `available`, data intact) instead of deleting it. The volume must be `available`: still creating → 409 INVALID_STATE; attached elsewhere → 409 VOLUME_BUSY; unknown, another team's id, or deletion accepted → 404. Omitted = an auto-created volume that is deleted with the runtime (the default lifecycle)."},"ports":{"type":"array","items":{"type":"integer","minimum":1,"maximum":65535,"description":"Internal port the workload listens on (HTTP). Declared by the client; never inferred."},"description":"Exposed ports the orchestrator routes the public handle to, as bare integers (e.g. [8080]). Omitted or [] = no public surface; never inferred from the image. Port numbers must be unique."},"readiness":{"allOf":[{"$ref":"#/components/schemas/ReadinessSpec"},{"description":"Optional explicit HTTP readiness gate for public reach. The path must answer before reach is published. Omitted = a TCP probe on the FIRST declared port; with no declared ports there is no application probe or public reach. Readiness does not govern `observed.phase`. Exactly ONE probe ever. Create-time only."}]},"network":{"allOf":[{"$ref":"#/components/schemas/NetworkSpec"},{"description":"Optional egress posture (see NetworkSpec). Omitted = open egress minus the standing SSRF/private deny. Replaceable later via PUT /network (applies live, no restart)."}]},"metadata":{"type":"object","additionalProperties":{"type":"string","maxLength":256},"description":"Optional correlation labels (default {}). See the metadata description."},"rootfsReadOnly":{"type":"boolean","description":"Hardening knob, default false. false (default): the rootfs is writable — a standard machine; writes land in the ephemeral scratch budget. true: the rootfs is the image verbatim, read-only, with writable /tmp and /run scratch mounts (funded by the same budget); anything durable belongs on `/data`."},"preserveRootfs":{"type":"boolean","description":"Rootfs preservation at stop, default true. true (default): `stop` commits the full rootfs to an image and the next `start` continues from it — everything the workload wrote (installed tools, cloned repos, system config) survives, held in durable storage while parked. false: the throwaway stop — the rootfs is discarded and `start` boots the original image (writes gone), `/data` intact. Create-time only — there is no per-stop override."},"timeout":{"type":"integer","minimum":0,"maximum":2147483647,"description":"Runtime lifetime in seconds. Omitted or 0 = unlimited. A positive value arms the deadline while desiredState is running."},"onTimeout":{"type":"string","enum":["stop","destroy"],"description":"Action at the configured positive timeout. Omitted with a positive timeout = stop."},"desiredState":{"type":"string","enum":["running","stopped"],"description":"Initial desired state (default running). Cannot create destroyed."},"region":{"type":"string","minLength":1,"description":"Optional location to run in — the public region label (e.g. \"brq\"), a plain string, NEVER an enum. Discover the offered values via GET /v1/regions. Omitted = the cheapest available location for the chosen preset. A location that exists but does not offer this preset's family → 422; a location that is full or not yet live → 503 NO_CAPACITY. Never a silent cross-location fallback. Echoed on every read."}},"required":["image"],"oneOf":[{"not":{"anyOf":[{"required":["timeout"]},{"required":["onTimeout"]}]}},{"properties":{"timeout":{"type":"integer","enum":[0]}},"required":["timeout"],"not":{"required":["onTimeout"]}},{"properties":{"timeout":{"type":"integer","minimum":1,"maximum":2147483647},"onTimeout":{"type":"string","enum":["stop","destroy"]}},"required":["timeout"]}]},"ResourceSpecInput":{"type":"object","properties":{"memoryBytes":{"type":"integer","minimum":134217728,"description":"Customer workload container hard memory limit in bytes. Minimum 134217728 (128 MiB) — below that no real image starts, so sub-floor requests are rejected here instead of surfacing as a confusing workload failure after boot."},"cpuMillis":{"type":"integer","exclusiveMinimum":0,"description":"Customer workload container CPU quota in millicores (1000 = 1 vCPU of quota)."},"storageBytes":{"type":"integer","minimum":1073741824,"description":"Persistent volume size in bytes. The volume is mounted read-write at `/data` inside the workload; it survives stop/start and follows the runtime for life. Durability: every live volume is backed up daily to off-site object storage — 7-day retention. Backups are crash-consistent disaster-recovery copies: a restore point is normally under 24 hours old and never silently older than 26 hours — past that the platform raises an alarm. Keep your own backups of critical data. A live volume restore is on request today and arrives as a NEW volume (self-serve restore is planned). Volumes are not live-replicated. Writable by the workload's own user, whatever the image runs as — root or not, no setup needed: the volume root arrives group-writable to a platform group the workload process automatically carries as a supplementary group. Files the workload creates keep their normal ownership. Software that demands strict permissions on its data directory (e.g. PostgreSQL's initdb) should use a subdirectory and set its own mode (`mkdir -m 700 /data/pgdata`). This is the only metered disk. Optional at create: omitted → the 4 GiB default (4294967296), or — with `volumeId` — the attached volume's own size. Mutually exclusive with `volumeId` (400 when both are present). Reads always echo the effective value."},"ephemeralStorageBytes":{"type":"integer","exclusiveMinimum":0,"description":"Rootfs scratch-disk budget in bytes. The rootfs is a real block disk of a fixed tier size (4 or 8 GiB); the ask rounds UP to the smallest tier that fits, and `df /` inside the workload reports that tier honestly. Persistence follows `preserveRootfs` (default true): `stop` commits the disk and the next `start` resumes it. Any OTHER restart — a crash, or a config/env change that recreates the workload — begins from the last committed image (the original image if it has never been stopped), so writes since that boot are lost. Durable data belongs on `/data`, which is unaffected either way. Bundled, never billed. Omitted → 4 GiB default. Free up to the 8 GiB cap; above the cap the request is rejected 422 — contact sales. Reads echo the requested value, never null. Filling the disk gives the writing process a plain ENOSPC write error — the workload keeps running; deleting files frees space immediately."}},"required":["memoryBytes","cpuMillis"],"description":"Optional resource allocation. Omitted = the published defaults: workload CPU quota cpuMillis 1000, workload memory limit memoryBytes 2147483648 (2 GiB), and storageBytes 4294967296 (4 GiB). Reads always echo the effective values."},"RuntimesList":{"type":"object","properties":{"runtimes":{"type":"array","items":{"$ref":"#/components/schemas/Runtime"}},"nextCursor":{"type":"string","description":"Pass verbatim as `?cursor=` for the next page. Absent = this is the last page."}},"required":["runtimes"]},"RuntimeNotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NOT_FOUND"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No such runtime for this team (unknown, malformed, or another team's id — never disclosed which)."},"RuntimeDestroyedError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INVALID_STATE"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The runtime is destroyed — terminal. The handle stays readable; nothing else can succeed."},"SetRuntimeTimeoutRequest":{"oneOf":[{"type":"object","properties":{"timeout":{"type":"integer","enum":[0]}},"required":["timeout"],"additionalProperties":false},{"type":"object","properties":{"timeout":{"type":"integer","minimum":1,"maximum":2147483647},"onTimeout":{"type":"string","enum":["stop","destroy"]}},"required":["timeout"],"additionalProperties":false}]},"BillingNotReadyError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["BILLING_NOT_READY"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"Metered billing catch-up is incomplete. Nothing is provisioned or charged; retry later."},"RuntimeNotRunningError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INVALID_STATE"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No running compute to act on (not provisioned yet, crash-looping, stopped, or destroyed). Unless destroyed, retry after the runtime is observed running."},"ApiKey":{"type":"object","properties":{"id":{"type":"string","description":"Stable key id — the handle for `DELETE /v1/team/keys/{id}`."},"prefixHint":{"type":"string","description":"Display prefix: `plnr_` + the first 4 random characters (e.g. `plnr_ab12`) — enough to recognise a key in a list, never enough to use it."},"last4":{"type":"string","description":"The key’s last 4 characters, to disambiguate keys that share a prefix."},"name":{"type":["string","null"],"description":"The optional display name set at mint; null when unnamed."},"createdAt":{"type":"string","format":"date-time","description":"When the key was minted (ISO-8601 UTC)."},"lastUsedAt":{"type":["string","null"],"format":"date-time","description":"Approximate time of the key’s most recent authenticated request (best-effort, throttled to ≤ 1 update/minute); null until first used."},"expiresAt":{"type":["string","null"],"format":"date-time","description":"When the key expires, if an expiry was set at mint; null = never expires (the machine-credential norm). An expired key fails authentication exactly like a revoked one."},"revokedAt":{"type":["string","null"],"format":"date-time","description":"When the key was revoked; null = active. A revoked key is preserved for audit and fails authentication on its next request."}},"required":["id","prefixHint","last4","name","createdAt","lastUsedAt","expiresAt","revokedAt"]},"RuntimeKeyUnavailableError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INVALID_STATE"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"Runtime key rotation requires a non-destroyed runtime created with `spawn: true`."},"ConfigRequest":{"type":"object","properties":{"config":{"type":"string","minLength":1,"maxLength":1048576,"pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","description":"Opaque workload config, base64 over the wire. Never parsed. Max 1 MiB encoded. Delivery: the DECODED bytes are mounted read-only at `/etc/planir/config` inside the workload — no env-var channel exists. Handling: held server-side solely for delivery; never parsed, logged, or echoed in error bodies. Replacing config rolls the workload only when the decoded bytes change; a byte-identical replace does not restart it."}},"required":["config"]},"PolicyRefusedError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INVALID_REQUEST"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"A policy gate (not shape validation) refused a well-formed request; the message names the gate."},"EnvRequest":{"type":"object","properties":{"env":{"type":"object","additionalProperties":{"type":"string"},"description":"Plain environment variables delivered to the workload process. Keys match [A-Za-z_][A-Za-z0-9_]*; the JSON-encoded map is capped at 128 KiB. Replacing env rolls the workload only when the map actually changes; a byte-identical replace does not restart it. Echoed on reads; never logged or echoed in error bodies."}},"required":["env"]},"NetworkRequest":{"type":"object","properties":{"network":{"$ref":"#/components/schemas/NetworkSpec"}},"required":["network"]},"Reach":{"type":"object","properties":{"url":{"type":"string","description":"Opaque, placement-free reach handle (e.g. https://<port>--<id>.<base>). The client parses nothing out of it; the shape is not a wire contract."}},"required":["url"]},"ReachRequest":{"type":"object","properties":{"port":{"type":"integer","minimum":1,"maximum":65535,"description":"The internal port to resolve. The caller always names it."}},"required":["port"]},"MetadataRequest":{"type":"object","properties":{"metadata":{"type":"object","additionalProperties":{"type":"string","maxLength":256},"description":"Free-form correlation labels. Keys match [A-Za-z0-9._-]+ (max 64 chars), values max 256 chars, at most 32 entries. Echoed on reads; filterable on the list endpoint via `?metadata.<key>=<value>`. Never interpreted by the platform."}},"required":["metadata"]},"UsageList":{"type":"object","properties":{"usage":{"type":"array","items":{"$ref":"#/components/schemas/Usage"}}},"required":["usage"]},"Usage":{"type":"object","properties":{"windowStart":{"type":"string"},"windowEnd":{"type":"string"},"cpuSeconds":{"type":"string","description":"vCPU-seconds over confirmed allocation spans (string — big number)."},"memoryByteSeconds":{"type":"string"},"storageByteSeconds":{"type":"string"},"preservedRootfsByteSeconds":{"type":"string","description":"Counter, not money: compressed runtime-layer bytes recorded for committed rootfs images integrated over billable presence. Excludes allocated rootfs tiers, shared base-image layers, volume capacity, and storage-system overhead."},"ingressBytes":{"type":"string","description":"Current UTC month interface-level ingress bytes, regardless of the usage query window. Ingress is free and uncapped."},"egressBytes":{"type":"string","description":"Current UTC month measured egress bytes, regardless of the usage query window. This interface-level counter includes everything crossing the runtime workload network interface, including exec/Process traffic, but exec/Process transport is outside the rate cap; image pulls do not cross it. Values trail live traffic by one sampling interval normally and remain stale through a sampling outage until recovery books the full delta. That delta belongs to the later sample month; final churn may under-read, and a UTC boundary can skew by one interval or the recovery delta. Measured for fair-use only and never a billing input."}},"required":["windowStart","windowEnd","cpuSeconds","memoryByteSeconds","storageByteSeconds","preservedRootfsByteSeconds","ingressBytes","egressBytes"]},"EventsList":{"type":"object","properties":{"events":{"type":"array","items":{"$ref":"#/components/schemas/Event"}}},"required":["events"]},"Event":{"type":"object","properties":{"cursor":{"type":"integer","description":"Monotonic, append-only position."},"type":{"type":"string","description":"Event vocabulary today: `created`, `desired-state-changed`, `config-updated`, `env-updated`, `network-updated`, `restart-requested`, `force-terminate-requested`, `allocated`, `deallocated`, plus one event per observed-phase transition (`provisioning`, `unschedulable`, `running`, `stopping`, `stopped`, `error`, `destroying`, `destroyed`), plus two rootfs-preservation events: `stop-failed` (a stop could not commit the rootfs; it retries while the rootfs is still available) and `rootfs-changes-lost` (the rootfs could not be captured before it was reclaimed — the stop concluded and `start` resumes the newest previously-committed image, without the changes written since it). The set is additive over time — treat unknown types as audit records. Events are the audit/wake-up channel; the authoritative state is always `GET /v1/runtimes/{id}` `observed.phase`."},"occurredAt":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp (RFC 3339), e.g. `2026-07-04T19:53:02.497Z`."},"data":{"type":"object","additionalProperties":{},"description":"Free-form per-type payload. Observed-phase events (including `error`) carry `{generation}` only — no failure diagnosis, by design: events are wake-up signals, not state. The WHY of an `error` phase is read from the runtime itself — `observed.restarts` and `observed.lastExit {reason, exitCode, at}` describe the box agent, while `observed.entrypoint` describes the customer program. `GET /v1/runtimes/{id}/logs` carries the program’s own words."}},"required":["cursor","type","occurredAt","data"]},"Volume":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","description":"The human handle, unique within the team."},"sizeBytes":{"type":"integer","description":"Provisioned size in bytes — the hard device-enforced cap. Durability: every live volume is backed up daily to off-site object storage — 7-day retention. Backups are crash-consistent disaster-recovery copies: a restore point is normally under 24 hours old and never silently older than 26 hours — past that the platform raises an alarm. Keep your own backups of critical data. A live volume restore is on request today and arrives as a NEW volume (self-serve restore is planned). Volumes are not live-replicated."},"deleteWithRuntime":{"type":"boolean","description":"true = a runtime-managed `/data` volume (auto-created at runtime create, deleted with its runtime); false = standalone (runtime destroy detaches it instead — the volume and its data outlive the runtime)."},"state":{"type":"string","enum":["creating","available","attached"],"description":"creating = backing storage is provisioning; available = unattached, attachable via runtime create `volumeId`, deletable; attached = held by a runtime for that runtime's whole LIFE (stop does not release it — only destroy does)."},"runtimeId":{"type":"string","description":"The holding runtime. Present exactly while `state` is `attached`."},"region":{"type":"string","description":"The volume's home location, stamped at create and fixed for its life. A runtime created with this `volumeId` is placed here (runtime-follows-volume)."},"provisionedAt":{"type":["string","null"],"format":"date-time","description":"When backing storage provisioning was proven; null while `state` is `creating`."},"createdAt":{"type":"string","format":"date-time"}},"required":["id","name","sizeBytes","deleteWithRuntime","state","region","provisionedAt","createdAt"]},"VolumeNameConflictError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["CONFLICT"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"A volume with this name already exists in the team — names are unique per team."},"CreateVolumeRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":63,"pattern":"^[a-z0-9]([a-z0-9-]*[a-z0-9])?$","description":"The human handle, unique within the team (duplicate → 409 CONFLICT). Lowercase DNS-label shape: `[a-z0-9]` with interior hyphens, 1–63 chars. Names beginning `data-` are reserved for runtime-managed `/data` volumes (400)."},"sizeBytes":{"type":"integer","minimum":1073741824,"description":"Provisioned size in bytes — a hard cap enforced by the device itself (the workload hits plain ENOSPC at the brim; deleting files frees space immediately). Fixed for the volume's life (no resize in v1). Billed as provisioned byte-seconds from `provisionedAt` to accepted deletion, attached or not. Durability: every live volume is backed up daily to off-site object storage — 7-day retention. Backups are crash-consistent disaster-recovery copies: a restore point is normally under 24 hours old and never silently older than 26 hours — past that the platform raises an alarm. Keep your own backups of critical data. A live volume restore is on request today and arrives as a NEW volume (self-serve restore is planned). Volumes are not live-replicated."},"family":{"type":"string","enum":["co","gp"],"description":"The preset family whose runtimes will use this volume. Required placement intent: the selected home must offer this family in the requested/default location. Discover families and live availability via GET /v1/regions."},"region":{"type":"string","description":"The location to home the volume in — the same choice runtime create takes. Omitted: the default location. A location that does not offer `family` → 422; one with no capacity right now → 503 (nothing provisioned). See `GET /v1/regions`. The home is fixed for the volume's life: a runtime attaching this volume is placed here (data gravity — the runtime follows the volume, never the reverse)."}},"required":["name","sizeBytes","family"]},"VolumesList":{"type":"object","properties":{"volumes":{"type":"array","items":{"$ref":"#/components/schemas/Volume"}}},"required":["volumes"]},"VolumeNotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NOT_FOUND"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No such volume for this team (unknown, malformed, or another team's id — never disclosed which)."},"VolumeBusyError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["VOLUME_BUSY"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The volume is attached: attachment spans the holding runtime's whole life — stop does not release it. Destroy the runtime first; no force-detach exists in v1."},"RegistryCredential":{"type":"object","properties":{"id":{"type":"string"},"host":{"type":"string","description":"The normalized registry host used for automatic team-scoped matching; `POST /v1/runtimes` needs no credential field."},"username":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time","description":"Moves when the stored credential changes. This timestamp does not prove propagation to later pulls."}},"required":["id","host","username","createdAt","updatedAt"]},"RegistryHostExistsError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["REGISTRY_HOST_EXISTS"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The team already holds a credential for this registry host — at most one per host (matching stays deterministic). Rotate or delete the existing credential instead."},"CreateRegistryCredentialRequest":{"type":"object","properties":{"host":{"type":"string","minLength":1,"maxLength":255,"description":"The registry host this credential authenticates, e.g. `ghcr.io`, `docker.io`, `myregistry.example:8443`. Normalized on write (lowercased, scheme stripped, Docker Hub aliases folded to `docker.io`); a path (`ghcr.io/org`) is refused — credentials are host-scoped. At most one credential exists per host. Fresh create uses the current committed credential when it contacts that host's origin. Later origin pulls observe changes only after asynchronous propagation; the prior state can remain effective until then. Rejected effective credentials are not retried anonymously."},"username":{"type":"string","minLength":1,"maxLength":512,"description":"Registry username — provider-specific (`_json_key` for GAR, `org+robot` for quay)."},"password":{"type":"string","minLength":1,"maxLength":65536,"description":"Registry password / token (write-only — no read ever returns it). Use a scoped, long-lived pull secret: GHCR PAT (`read:packages`), GitLab deploy token, quay robot token, GAR service-account JSON, ACR service-principal password."}},"required":["host","username","password"]},"RegistryCredentialsList":{"type":"object","properties":{"credentials":{"type":"array","items":{"$ref":"#/components/schemas/RegistryCredential"}}},"required":["credentials"]},"RegistryCredentialNotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NOT_FOUND"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No such registry credential for this team (unknown, malformed, or another team's id — never disclosed which)."},"RotateRegistryCredentialRequest":{"type":"object","properties":{"username":{"type":"string","minLength":1,"maxLength":512,"description":"The replacement username (may be unchanged)."},"password":{"type":"string","minLength":1,"maxLength":65536,"description":"The replacement password / token (write-only). Running runtimes are untouched. Later origin pulls can use it after asynchronous propagation; the prior state can remain effective until then."}},"required":["username","password"]},"PresetsList":{"type":"object","properties":{"presets":{"type":"array","items":{"$ref":"#/components/schemas/Preset"}}},"required":["presets"]},"Preset":{"type":"object","properties":{"id":{"type":"string","description":"Preset id — the shape to request: a runtime whose `resources` exactly match a preset's cpu/memory is billed at that preset's rates."},"family":{"type":"string","enum":["co","gp"],"description":"Display grouping (`co` = Cost Optimized, shared vCPU; `gp` = General Purpose, dedicated vCPU). Grouping only — availability is not decided by family."},"cpuMillis":{"type":"integer","description":"Customer workload container CPU quota in millicores (1000 = 1 vCPU of quota)."},"memoryBytes":{"type":"integer","description":"Customer workload container hard memory limit in bytes."},"hourlyMicrocents":{"type":"integer","description":"Metered compute rate per hour, in microcents (1 USD = 100,000,000)."},"monthlyCeilingMicrocents":{"type":"integer","description":"Per-runtime compute cap per UTC calendar month, in microcents: however long the runtime runs within a month, its compute line never exceeds this."},"storageMicrocentsPerGibMonth":{"type":"integer","description":"Volume storage rate per GiB (2^30 bytes) per month, in microcents."},"storageFreeBytes":{"type":"integer","description":"Free volume allowance per runtime, in bytes — storage bills only the excess."}},"required":["id","family","cpuMillis","memoryBytes","hourlyMicrocents","monthlyCeilingMicrocents","storageMicrocentsPerGibMonth","storageFreeBytes"]},"RegionsList":{"type":"object","properties":{"regions":{"type":"array","items":{"$ref":"#/components/schemas/Region"},"description":"Every catalogued location, region-ASC."}},"required":["regions"]},"Region":{"type":"object","properties":{"region":{"type":"string","description":"The public location label (e.g. \"brq\") — a plain string, never an enum; new locations appear additively. The value create requests accept as `region`."},"families":{"type":"array","items":{"$ref":"#/components/schemas/RegionFamilyAvailability"},"description":"Per-family availability at this location, family-ASC. A catalogued-but-full family stays LISTED with `available: false`; an EMPTY array means no family is catalogued here at all (the label listed so it is discoverable ahead of commissioning) — two different facts."}},"required":["region","families"]},"RegionFamilyAvailability":{"type":"object","properties":{"family":{"type":"string","description":"A preset family offered at this location (see GET /v1/presets)."},"available":{"type":"boolean","description":"Whether this location can take the family's smallest preset right now. `false` = full, draining, or not yet commissioned — a create naming this location refuses 503 until it flips. Derived live on every read; re-read rather than remember."}},"required":["family","available"]},"Team":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"kind":{"type":"string","enum":["root","customer"],"description":"root = the platform operator; customer = an ordinary tenant."},"package":{"$ref":"#/components/schemas/TeamPackageSummary"},"limits":{"$ref":"#/components/schemas/TeamLimits"},"defaultRegion":{"type":["string","null"],"description":"The saved default location (`PATCH /v1/team`): where a create that names no `region` places, consumed exactly as if the call had sent it — an explicit per-call `region` always wins, and a default whose location stops offering the preset refuses with 422 rather than silently re-routing. Null = no default (a region-less create places cheapest-available)."},"balanceMicrocents":{"type":"integer","description":"Current ledger balance in integer microcents (1 USD = 100,000,000) — the sum of every ledger row (topups and bonuses add, usage debits subtract). Metered teams must keep this above zero to create or start runtimes; flat teams (root included) ignore it. Integer over the wire (Stripe-style); exact for every realistic balance (orders of magnitude below 2^53)."}},"required":["id","name","kind","package","limits","defaultRegion","balanceMicrocents"]},"TeamPackageSummary":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","description":"Package name (e.g. `standard`, `free`, or a custom deal)."},"billingMode":{"type":"string","enum":["metered","flat"],"description":"metered = per-usage debits against the balance; flat = a monthly price with no per-usage debits (root and VIP deals)."},"concurrencyLimit":{"type":"integer","description":"The EFFECTIVE concurrency ceiling admission enforces — the team-level override when one is set, otherwise the package cap (coalesce(team override, package cap)). The most running runtimes this team may hold at once."}},"required":["id","name","billingMode","concurrencyLimit"]},"TeamLimits":{"type":"object","properties":{"maxConcurrentRuntimes":{"type":"integer","description":"Gate B — the running-runtime count cap (the same value as `package.concurrencyLimit`; breach = 429 CONCURRENCY_LIMIT)."},"maxTotalStorageBytes":{"type":"integer","description":"Maximum provisioned bytes across all live and deleting volumes; breach = 429 RESOURCE_QUOTA."},"allowedPresetIds":{"type":["array","null"],"items":{"type":"string"},"description":"Gate A — exactly these public presets are creatable, regardless of billing mode. A private preset owned by the package is creatable without appearing in this list. Null = no explicit public set. A metered team must still match a public preset or a private preset owned by its package; see GET /v1/presets. Breach = 422 INVALID_REQUEST."},"families":{"type":"object","additionalProperties":{"type":"object","properties":{"maxVcpuMillis":{"type":"integer","description":"Ceiling on the SUM of vCPU-millis across the family's running runtimes."},"maxMemoryBytes":{"type":"integer","description":"Ceiling on the SUM of memory bytes across the family's running runtimes."}},"required":["maxVcpuMillis","maxMemoryBytes"]},"description":"Gate C — per-family resource ceilings over RUNNING runtimes, region-blind (where each runtime lands stays your choice). A family absent here is uncapped; breach = 429 RESOURCE_QUOTA. A ceiling is an entitlement, never a capacity reservation — a create under quota can still see 503 NO_CAPACITY in a full location."}},"required":["maxConcurrentRuntimes","maxTotalStorageBytes","allowedPresetIds","families"]},"PatchTeamBody":{"type":"object","properties":{"defaultRegion":{"type":["string","null"],"minLength":1,"description":"The saved default location, consulted when a create names no `region`. Must be a location the catalog offers (see `GET /v1/regions`; anything else is 422). `null` clears it. Future creates only: changing it never moves an existing runtime or volume, and an explicit per-call `region` always beats it."}}},"TeamUsage":{"type":"object","properties":{"period":{"type":"string","description":"The UTC calendar month these windows cover, `YYYY-MM`."},"windows":{"type":"array","items":{"$ref":"#/components/schemas/TeamUsageWindow"}},"volumeWindows":{"type":"array","items":{"$ref":"#/components/schemas/TeamUsageVolumeWindow"},"description":"Detached standalone-volume accruals for the month (volumes-v2). A volume attached all month has no line here — its storage billed through the runtime windows above."},"totals":{"type":"object","properties":{"billedMicrocents":{"type":"integer","description":"Runtime windows + volume accruals together — the month total."},"meteredMs":{"type":"integer"},"attachedVolumeMs":{"type":"integer"},"detachedMs":{"type":"integer"},"ingressBytes":{"type":"string","description":"Sum of retained runtime-interface ingress bytes for the requested UTC month. Ingress is free and unshaped."},"egressBytes":{"type":"string","description":"Sum of retained runtime-interface egress bytes for the requested UTC month. Includes Process traffic, excludes image pulls, and normally trails live traffic by one sampling interval. Fair-use only; never billed."},"egressAllowanceBytes":{"type":["string","null"],"description":"Live shared team allowance for the current UTC month; null for any other month."}},"required":["billedMicrocents","meteredMs","attachedVolumeMs","detachedMs","ingressBytes","egressBytes","egressAllowanceBytes"],"description":"Money and duration sum the returned invoice windows. Network bytes sum retained runtime egress rows; the current allowance comes from live team entitlements."}},"required":["period","windows","volumeWindows","totals"]},"TeamUsageWindow":{"type":"object","properties":{"runtimeId":{"type":"string"},"period":{"type":"string","description":"The UTC calendar month this window covers, `YYYY-MM`."},"meteredMs":{"type":"integer","description":"Metered compute milliseconds accrued in the month (event-derived, clipped to the month)."},"attachedVolumeMs":{"type":"integer","description":"Provisioned milliseconds assigned to this runtime's active volume attachment; stopped time remains attached."},"billedMicrocents":{"type":"integer","description":"What this window has billed so far, integer microcents. 0 for a flat/root window (quantities accrue, nothing is debited) and for a priceless (non-preset) window."},"prices":{"type":["object","null"],"properties":{"presetId":{"type":"string"},"hourlyMicrocents":{"type":"integer"},"ceilingMicrocents":{"type":"integer"},"storageMicrocentsPerGibMonth":{"type":"integer"},"storageFreeBytes":{"type":"integer"}},"required":["presetId","hourlyMicrocents","ceilingMicrocents","storageMicrocentsPerGibMonth","storageFreeBytes"],"description":"The window's own carried prices, resolved once when it opened — a reprice or renegotiation never rewrites a month in progress. Null AS A UNIT for a non-preset shape (priceless window): quantities still accrue, billedMicrocents stays 0."},"state":{"type":"string","enum":["open","closed"],"description":"open = still accruing this month; closed = final (destroy or month rollover, past the event-visibility skew bound)."},"closedAt":{"type":["string","null"],"description":"When the window closed (ISO-8601), or null while open."}},"required":["runtimeId","period","meteredMs","attachedVolumeMs","billedMicrocents","prices","state","closedAt"]},"TeamUsageVolumeWindow":{"type":"object","properties":{"volumeId":{"type":"string"},"period":{"type":"string","description":"The UTC calendar month this accrual covers, `YYYY-MM`."},"detachedMs":{"type":"integer","description":"Milliseconds the volume sat DETACHED in the month. Attached time never appears here — it bills through the holding runtime's window storage line."},"billedMicrocents":{"type":"integer","description":"What this accrual has billed so far, integer microcents — provisioned bytes × the carried rate × detached time, NO free allowance (parked capacity bills from byte zero). 0 on flat packages (quantities accrue, nothing is debited)."},"storageMicrocentsPerGibMonth":{"type":"integer","description":"The accrual's own carried storage rate, copied from the package when it opened — a reprice never rewrites a month in progress."},"state":{"type":"string","enum":["open","closed"],"description":"open = still accruing this month; closed = final (volume delete or month rollover, past the event-visibility skew bound)."},"closedAt":{"type":["string","null"],"description":"When the accrual closed (ISO-8601), or null while open."}},"required":["volumeId","period","detachedMs","billedMicrocents","storageMicrocentsPerGibMonth","state","closedAt"]},"TeamLedger":{"type":"object","properties":{"entries":{"type":"array","items":{"$ref":"#/components/schemas/TeamLedgerEntry"}},"nextCursor":{"type":"string","description":"Pass verbatim as `?cursor=` for the next (older) page. Absent = this is the last page."}},"required":["entries"]},"TeamLedgerEntry":{"type":"object","properties":{"id":{"type":"string"},"kind":{"type":"string","enum":["topup","usage_debit","adjustment","bonus"],"description":"topup / bonus add to the balance (positive); usage_debit subtracts (negative); adjustment is a signed correction (either way, never zero)."},"amountMicrocents":{"type":"integer","description":"Signed integer microcents — positive adds to the balance, negative subtracts. Exact for every realistic amount (orders of magnitude below 2^53)."},"idempotencyKey":{"type":"string","description":"The row's dedup handle: your own key on a topup/adjustment, or a self-describing `usage:{runtime}:{period}:{total}` on a usage debit — how you correlate a row to the write that produced it."},"stripeRef":{"type":["string","null"],"description":"The Stripe event id on a webhook topup; null on every other row."},"createdAt":{"type":"string","format":"date-time","description":"When the row was appended (ISO-8601 UTC)."}},"required":["id","kind","amountMicrocents","idempotencyKey","stripeRef","createdAt"]},"ApiKeyMint":{"allOf":[{"$ref":"#/components/schemas/ApiKey"},{"type":"object","properties":{"secret":{"type":"string","description":"The plaintext API key — returned exactly once, at mint, and never retrievable again. Send it as `Authorization: Bearer <secret>`. Store it securely now; the server keeps only a one-way digest."}},"required":["secret"]}]},"ApiKeyMintRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200,"description":"Optional display name to recognise the key later (1–200 chars)."},"expiresAt":{"type":"string","format":"date-time","description":"Optional ISO-8601 expiry (GitHub-style hygiene, on request). Omitted = never expires — the machine-credential norm; expiry is never forced (scheduled key death breaks live integrations)."}}},"ApiKeyList":{"type":"object","properties":{"keys":{"type":"array","items":{"$ref":"#/components/schemas/ApiKey"}}},"required":["keys"]},"KeyNotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NOT_FOUND"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No such API key for this team."},"Topup":{"type":"object","properties":{"checkoutUrl":{"type":"string","description":"The Stripe-hosted Checkout page URL — redirect the payer here to complete the topup. The team balance is credited only after Stripe confirms the payment server-to-server."}},"required":["checkoutUrl"]},"PaymentRailUnavailableError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INTERNAL"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The Stripe payment rail is not configured on this deployment; topups cannot be created."},"TopupRequest":{"type":"object","properties":{"amountMicrocents":{"type":"integer","minimum":100000000,"maximum":10000000000000,"multipleOf":1000000,"description":"Credit to add, in USD integer microcents (1 USD = 100,000,000). A whole number of US cents (a multiple of 1,000,000), between $1 (100,000,000) and $100,000 (10,000,000,000,000). The balance is credited with what Stripe actually charges, not this requested value."},"successUrl":{"type":"string","format":"uri","description":"Absolute URL Stripe returns the payer to after a completed payment."},"cancelUrl":{"type":"string","format":"uri","description":"Absolute URL Stripe returns the payer to if they abandon the payment."}},"required":["amountMicrocents","successUrl","cancelUrl"]},"WebhookMint":{"allOf":[{"$ref":"#/components/schemas/WebhookEndpoint"},{"type":"object","properties":{"secret":{"type":"string","description":"The endpoint signing secret (`whsec_` + base64 of 32 random bytes, per the Standard Webhooks spec) — returned exactly once, here, and never retrievable again. Verify deliveries with any Standard Webhooks consumer library: headers `webhook-id`, `webhook-timestamp` (unix seconds; ±5 minutes tolerance recommended), `webhook-signature` (`v1,` + base64 HMAC-SHA256 over `id.timestamp.payload`, keyed with the base64-decoded secret bytes). During a secret rotation the one signature header carries both signatures, space-delimited."}},"required":["secret"]}]},"WebhookEndpoint":{"type":"object","properties":{"id":{"type":"string","description":"Stable endpoint id — the handle for the endpoint routes."},"url":{"type":"string","description":"The receiver URL."},"eventTypes":{"type":"array","items":{"$ref":"#/components/schemas/WebhookEventType"},"description":"The event-type filter; absent = all lifecycle types."},"enabled":{"type":"boolean","description":"false = deliveries are stopped (auto-disabled after sustained failure, per the delivery policy). Re-enable explicitly via POST …/{id}/enable; pending deliveries resume."},"prefixHint":{"type":"string","description":"Display prefix of the signing secret: `whsec_` + the first 4 characters — enough to recognise it, never enough to verify with."},"failingSince":{"type":["string","null"],"format":"date-time","description":"Set while the endpoint is on the auto-disable clock: the instant its current failure streak began (a delivery exhausted its retry schedule). Null = healthy (any successful delivery clears it). When it grows older than the disable window, the endpoint flips to `enabled: false`."},"createdAt":{"type":"string","format":"date-time"}},"required":["id","url","enabled","prefixHint","failingSince","createdAt"]},"CreateWebhookRequest":{"type":"object","properties":{"url":{"type":"string","maxLength":2048,"format":"uri","description":"The receiver URL. HTTPS is required (HTTP is accepted only on non-production deployments, for local development). The host must resolve to a public address: deliveries to private, link-local, or platform-internal ranges are refused at send time, re-checked on every attempt."},"eventTypes":{"type":"array","items":{"$ref":"#/components/schemas/WebhookEventType"},"minItems":1,"maxItems":6,"description":"Event-type filter: deliver only these types. Omitted = all lifecycle types, including types added in the future."}},"required":["url"]},"WebhooksList":{"type":"object","properties":{"webhooks":{"type":"array","items":{"$ref":"#/components/schemas/WebhookEndpoint"}}},"required":["webhooks"]},"WebhookNotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NOT_FOUND"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No such webhook endpoint for this team (unknown, malformed, or another team's id — never disclosed which)."},"WebhookDeliveriesList":{"type":"object","properties":{"deliveries":{"type":"array","items":{"$ref":"#/components/schemas/WebhookDelivery"}}},"required":["deliveries"]},"WebhookDelivery":{"type":"object","properties":{"id":{"type":"string","description":"The delivery row id — the handle for redelivery."},"eventId":{"type":"string","description":"The wire event id (`evt_<n>`, monotonic) — equals the delivery's `webhook-id` header and payload `id`, INCLUDING across retries and manual redelivery: deduplicate by this."},"eventType":{"$ref":"#/components/schemas/WebhookEventType"},"runtimeId":{"type":"string","description":"The runtime the event concerns."},"occurredAt":{"type":"string","format":"date-time","description":"When the event occurred — the payload `timestamp`."},"state":{"type":"string","enum":["pending","succeeded","exhausted"],"description":"`pending` = scheduled (first attempt or mid-retry); `succeeded` = a 2xx landed; `exhausted` = every scheduled attempt failed (redeliver to retry manually)."},"attempts":{"type":"integer","description":"Attempts made so far."},"nextAttemptAt":{"type":["string","null"],"format":"date-time","description":"The next scheduled attempt while `pending`; null once settled."},"lastStatus":{"type":["integer","null"],"description":"HTTP status of the last attempt; null before any attempt or on a non-HTTP failure."},"lastError":{"type":["string","null"],"description":"Failure class of the last failed attempt (`http_<status>`, `timeout`, `network`, `dns`, `ssrf_denied`); null before any attempt and after a success."},"lastDurationMs":{"type":["integer","null"],"description":"Wall-clock of the last attempt."},"createdAt":{"type":"string","format":"date-time"}},"required":["id","eventId","eventType","runtimeId","occurredAt","state","attempts","nextAttemptAt","lastStatus","lastError","lastDurationMs","createdAt"]},"WebhookDeliveryNotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NOT_FOUND"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No such webhook endpoint for this team, or no such delivery on it — never disclosed which."}},"parameters":{}},"paths":{"/healthz":{"get":{"tags":["health"],"operationId":"healthCheck","summary":"Liveness probe.","security":[],"responses":{"200":{"description":"The control plane process is up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthStatus"}}}}}}},"/v1":{"get":{"tags":["meta"],"operationId":"getApiVersion","summary":"API version handshake.","responses":{"200":{"description":"The served API version.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiVersionInfo"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes":{"post":{"tags":["runtimes"],"operationId":"createRuntime","summary":"Create a runtime.","parameters":[{"schema":{"type":"string","minLength":1,"description":"Optional client-supplied idempotency key. Same key + same body within the 24-hour replay window → 200 with the original runtime (not a new create); same key + different body → CONFLICT. Replay is the intended recovery path for a client that loses a runtime id after a 201: re-send the identical create and read the id back. Omitted = no idempotency claim — a retried create makes a second runtime."},"required":false,"description":"Optional client-supplied idempotency key. Same key + same body within the 24-hour replay window → 200 with the original runtime (not a new create); same key + different body → CONFLICT. Replay is the intended recovery path for a client that loses a runtime id after a 201: re-send the identical create and read the id back. Omitted = no idempotency claim — a retried create makes a second runtime.","name":"idempotency-key","in":"header"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRuntimeRequest"}}}},"responses":{"200":{"description":"Idempotent replay — the runtime for this key already existed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeWithObserved"}}}},"201":{"description":"Runtime created. `observed` is normally absent here — a fresh runtime has no observation yet (absence means \"not yet observed\", never an error).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeWithObserved"}}}},"400":{"description":"INVALID_REQUEST — bad JSON or failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"402":{"description":"INSUFFICIENT_BALANCE — the team's balance is not positive; top up before creating.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsufficientBalanceError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such volume for `volumeId` (unknown, malformed, or another team's); IMAGE_NOT_FOUND — the requested image is absent or registry access was denied.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeCreateNotFoundError"}}}},"409":{"description":"Three causes share this status — `code` names which: CONFLICT (the Idempotency-Key was reused with a different request) or VOLUME_BUSY (the volume named by `volumeId` is attached elsewhere), or INVALID_STATE (the volume is still creating; retry when it is available).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeCreateConflictError"}}}},"422":{"description":"Four causes share this status — `code` names which: INVALID_REQUEST means a policy gate (not shape validation) refused a well-formed request: the requested resources match no preset this package may use (see GET /v1/presets), ephemeralStorageBytes exceeds the 8 GiB free cap (contact sales for larger rootfs disks), the requested `region` does not offer this preset (see GET /v1/regions), or a `region` sent alongside `volumeId` disagrees with the volume's home / the volume's home does not offer this preset (the runtime follows its volume). Bound callers also cannot request `spawn: true`; platform environment names are reserved. UNSAFE_IMAGE_HOST refuses a non-public registry dial target; UNSUPPORTED_IMAGE_PLATFORM refuses an image without a supported Linux platform; INVALID_IMAGE_CONFIG refuses malformed OCI process configuration or an empty argv.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeCreatePolicyError"}}}},"429":{"description":"A limit refused the request — `code` names which. RATE_LIMITED: the per-key request-rate budget (wait `Retry-After`, then retry). CONCURRENCY_LIMIT: the team's running-runtime cap is reached (a quota — destroy a runtime or raise the cap; no Retry-After is sent, because waiting cannot free it). RESOURCE_QUOTA: a per-family vCPU/memory ceiling or the team's total provisioned-storage entitlement would be passed; release the named resource or raise its entitlement (no Retry-After).","headers":{"Retry-After":{"description":"Present ONLY on the RATE_LIMITED branch: whole seconds until at least one token refills. The CONCURRENCY_LIMIT and RESOURCE_QUOTA branches never send it.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LimitExceededError"}}}},"503":{"description":"NO_CAPACITY, BILLING_NOT_READY, or REGISTRY_UNAVAILABLE — placement, billing catch-up, or image resolution is temporarily unavailable. Nothing is provisioned or charged; retry later.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProvisioningUnavailableError"}}}}}},"get":{"tags":["runtimes"],"operationId":"listRuntimes","summary":"List runtimes (cursor-paged, metadata-filterable).","description":"Pages in creation order via `?limit=` (1–100, default 20) + `?cursor=` (opaque; pass the previous page's `nextCursor` verbatim). Equality-filter on correlation labels with DYNAMIC query params of the form `?metadata.<key>=<value>` (multiple filters AND together), and on the home location with `?region=` (the `region` each response echoes). Destroyed runtimes are excluded unless `?includeDestroyed=true`. Returns desired-side handles only — read an individual runtime for its observed state.","parameters":[{"schema":{"type":"integer","minimum":1,"maximum":100,"description":"Page size, 1–100 (default 20)."},"required":false,"description":"Page size, 1–100 (default 20).","name":"limit","in":"query"},{"schema":{"type":"string","format":"uuid","description":"Opaque page cursor — pass the previous page's `nextCursor` verbatim. Omitted = from the start."},"required":false,"description":"Opaque page cursor — pass the previous page's `nextCursor` verbatim. Omitted = from the start.","name":"cursor","in":"query"},{"schema":{"type":"string","enum":["true","false"],"description":"Destroyed runtimes are excluded unless this is `true`. Ignored when an explicit `desiredState` filter is present (that filter fully determines state visibility)."},"required":false,"description":"Destroyed runtimes are excluded unless this is `true`. Ignored when an explicit `desiredState` filter is present (that filter fully determines state visibility).","name":"includeDestroyed","in":"query"},{"schema":{"type":"array","items":{"type":"string","enum":["running","stopped","destroyed"]},"description":"Repeatable desired-state filter (`running|stopped|destroyed`): OR within the repeated values, AND with the metadata filters. When present it fully determines state visibility — `?desiredState=destroyed` returns destroyed runtimes without `includeDestroyed`. Absent = destroyed excluded unless `includeDestroyed=true`."},"required":false,"description":"Repeatable desired-state filter (`running|stopped|destroyed`): OR within the repeated values, AND with the metadata filters. When present it fully determines state visibility — `?desiredState=destroyed` returns destroyed runtimes without `includeDestroyed`. Absent = destroyed excluded unless `includeDestroyed=true`.","name":"desiredState","in":"query"},{"schema":{"type":"string","minLength":1,"description":"Equality filter on the home location — the `region` every response echoes (ANDs with the other filters). A value no runtime carries returns an empty page, never an error (discovery: GET /v1/regions)."},"required":false,"description":"Equality filter on the home location — the `region` every response echoes (ANDs with the other filters). A value no runtime carries returns an empty page, never an error (discovery: GET /v1/regions).","name":"region","in":"query"}],"responses":{"200":{"description":"One page of runtimes, `nextCursor` present iff another page exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimesList"}}}},"400":{"description":"INVALID_REQUEST — bad limit/cursor/desiredState/region, or an empty metadata filter key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}":{"get":{"tags":["runtimes"],"operationId":"getRuntime","summary":"Read a runtime.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"The runtime handle, optionally with its observed state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeWithObserved"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}},"delete":{"tags":["runtimes"],"operationId":"destroyRuntime","summary":"Destroy a runtime (async, idempotent).","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"202":{"description":"Desired state → destroyed (delete compute, reap volume). Terminal.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/timeout":{"post":{"tags":["runtimes"],"operationId":"setRuntimeTimeout","summary":"Set or clear runtime timeout policy.","description":"Every positive success reanchors the deadline from the post-lock instant; retrying a positive request moves the deadline.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetRuntimeTimeoutRequest"}}}},"responses":{"204":{"description":"Timeout policy stored; empty response body."},"400":{"description":"INVALID_REQUEST — malformed body or failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — the runtime is destroyed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeDestroyedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/start":{"post":{"tags":["runtimes"],"operationId":"startRuntime","summary":"Start a runtime (async, idempotent).","description":"Boots the newest durable committed rootfs, else the original image — a fresh process, not a resume: a runtime parked a long time wakes with expired tokens and dead TLS sessions, exactly as a rebooted machine would. Warm where it last ran, colder elsewhere (the latency class).","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"202":{"description":"Desired state → running; the runtime comes up shortly.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"402":{"description":"INSUFFICIENT_BALANCE — the team's balance is not positive; top up before starting.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsufficientBalanceError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — the runtime is destroyed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeDestroyedError"}}}},"429":{"description":"A limit refused the request — `code` names which. RATE_LIMITED: the per-key request-rate budget (wait `Retry-After`, then retry). CONCURRENCY_LIMIT: the team's running-runtime cap is reached (a quota — destroy a runtime or raise the cap; no Retry-After is sent, because waiting cannot free it). RESOURCE_QUOTA: a per-family vCPU/memory ceiling or the team's total provisioned-storage entitlement would be passed; release the named resource or raise its entitlement (no Retry-After).","headers":{"Retry-After":{"description":"Present ONLY on the RATE_LIMITED branch: whole seconds until at least one token refills. The CONCURRENCY_LIMIT and RESOURCE_QUOTA branches never send it.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LimitExceededError"}}}},"503":{"description":"BILLING_NOT_READY — metered billing catch-up is incomplete; retry later.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BillingNotReadyError"}}}}}}},"/v1/runtimes/{id}/stop":{"post":{"tags":["runtimes"],"operationId":"stopRuntime","summary":"Stop a runtime (async, idempotent).","description":"Ends the process: in-memory state, open connections, and sessions are gone — `start` is a fresh boot, never a resume. The rootfs is preserved by default (`preserveRootfs`) and start boots it back; everything outside `/data` survives via the committed image. Quiesce is a TERM→KILL ladder — flush in-flight buffers on SIGTERM. Returns immediately; the runtime shows `stopping` until the commit is durable, then `stopped`.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"202":{"description":"Desired state → stopped (release compute; retain the volume, and with `preserveRootfs` the committed rootfs).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — the runtime is destroyed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeDestroyedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/restart":{"post":{"tags":["runtimes"],"operationId":"restartRuntime","summary":"Restart a runtime (imperative bounce).","description":"A bounce, never a commit: the workload is recreated with the same image selection as `start` and desired state is unchanged, so rootfs changes since the last commit are lost — `stop` is the lever that preserves them. `/data` is intact.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"202":{"description":"Workload recreated on the same volume; desired state unchanged.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — only a running runtime can be restarted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotRunningError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/key":{"post":{"tags":["runtimes"],"operationId":"rotateRuntimeKey","summary":"Rotate a runtime-bound key.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Successor key display metadata; plaintext is never returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKey"}}}},"401":{"description":"UNAUTHENTICATED — bound runtime credentials cannot rotate keys.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — runtime key rotation is unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeKeyUnavailableError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/config":{"put":{"tags":["runtimes"],"operationId":"updateRuntimeConfig","summary":"Replace the opaque workload config (async, idempotent).","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigRequest"}}}},"responses":{"202":{"description":"Config replaced; the workload restarts to pick it up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"400":{"description":"INVALID_REQUEST — malformed body or failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — the runtime is destroyed; config cannot be set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeDestroyedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/env":{"put":{"tags":["runtimes"],"operationId":"updateRuntimeEnv","summary":"Replace the env map whole (async, idempotent — no patch semantics).","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvRequest"}}}},"responses":{"202":{"description":"Env replaced; the workload restarts to pick it up. A canonically-identical map is a no-op (still 202, no restart).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"400":{"description":"INVALID_REQUEST — malformed body, bad env key shape, or map over the size cap.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — the runtime is destroyed; env cannot be set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeDestroyedError"}}}},"422":{"description":"INVALID_REQUEST — platform environment names are reserved.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyRefusedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/network":{"put":{"tags":["runtimes"],"operationId":"updateRuntimeNetwork","summary":"Replace the egress posture whole (async; applies LIVE — no restart).","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkRequest"}}}},"responses":{"202":{"description":"Posture replaced; it takes effect on the RUNNING runtime with no restart — the workload keeps running through the change. `{}` clears to the open-egress default. A canonically-identical posture is a no-op (still 202).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"400":{"description":"INVALID_REQUEST — malformed body, bad entry shape (denyOut takes IPv4 CIDRs only; allowOut takes CIDRs or domain patterns).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — the runtime is destroyed; network cannot be set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeDestroyedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"i
[...]
