{"openapi":"3.1.0","info":{"title":"Planir Orchestrator API","version":"v1","description":"Generic, client-agnostic runtime provider over hardened sandboxed compute. A runtime is a durable, client-owned handle to a single sandboxed workload with its own persistent volume. Lifecycle verbs are async + idempotent (flip desired state → 202; the engine converges). The API names no placement (region/cluster/node), no pod IP/port/path, no storage backend, and no caller-domain concept — `clientRef` is the only correlation handle, and it is opaque. Rate limits: every /v1 route is metered per API key — a token bucket at the key's sustained rate (default 10 req/s) with a 2× burst, raised by a package override. Over budget → 429 `RATE_LIMITED` with a `Retry-After` header (whole seconds until a token refills); each route documents the 429. A 429 without a `Retry-After` header comes from infrastructure in front of the platform — treat it as retry-with-backoff regardless of body."},"servers":[{"url":"https://api.planir.io","description":"The published contract URL — also every generated client's default baseUrl."}],"security":[{"serviceToken":[]}],"tags":[{"name":"runtimes","description":"Runtime lifecycle, exec, config, reach, usage, events."},{"name":"health","description":"Public liveness."},{"name":"meta","description":"API version handshake."}],"components":{"securitySchemes":{"serviceToken":{"type":"http","scheme":"bearer","description":"Scoped service token bound to a caller principal. Missing/invalid → 401 UNAUTHENTICATED."}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["UNAUTHENTICATED","INVALID_REQUEST","NOT_FOUND","INVALID_STATE","CONFLICT","RATE_LIMITED","CONCURRENCY_LIMIT","INSUFFICIENT_BALANCE","VOLUME_BUSY","TEAM_BLOCKED","FORBIDDEN","INTERNAL"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The error envelope. `code` is an OPEN enum: new codes are additive under the platform compatibility policy — clients MUST tolerate codes not in this list (treat an unknown code as an unretryable failure of the request). Per-operation responses reference named schemas that narrow `code` to exactly what that operation+status emits; the wire shape is identical everywhere."},"WebhookEventEnvelope":{"type":"object","properties":{"id":{"type":"string","description":"The event id (`evt_<n>`, monotonic) — identical to the `webhook-id` header, and STABLE across retries and manual redelivery: deduplicate by it."},"version":{"type":"string","enum":["v1"],"description":"Envelope version. New event types arrive additively and never change it."},"type":{"$ref":"#/components/schemas/WebhookEventType"},"timestamp":{"type":"string","format":"date-time","description":"When the event occurred (not when this delivery was attempted)."},"team_id":{"type":"string","description":"The team the runtime belongs to."},"runtime_id":{"type":"string","description":"The runtime the event concerns."},"region":{"type":"string","description":"The public location of the runtime the event concerns — the same `region` its API responses echo (read at delivery time). Internal cluster and node names never appear."}},"required":["id","version","type","timestamp","team_id","runtime_id","region"]},"WebhookEventType":{"type":"string","enum":["runtime.lifecycle.created","runtime.lifecycle.running","runtime.lifecycle.error","runtime.lifecycle.destroyed"],"description":"A lifecycle event type, dot-namespaced. `created` = the runtime record exists; `running` = observed running; `error` = observed in error (fires per transition — deduplicate by event id); `destroyed` = observed destroyed (terminal). New types arrive additively; unknown types in a filter are refused at registration."},"HealthStatus":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]}},"required":["status"]},"ApiVersionInfo":{"type":"object","properties":{"version":{"type":"string","enum":["v1"]}},"required":["version"]},"UnauthenticatedError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["UNAUTHENTICATED"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The request carries no credential, or one that does not resolve to a live key."},"TeamBlockedError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["TEAM_BLOCKED"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The team is blocked: writes and non-billing reads are refused until support unblocks it."},"RateLimitedError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["RATE_LIMITED"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The per-key request-rate budget is exhausted; wait `Retry-After` seconds and retry."},"RuntimeWithObserved":{"allOf":[{"$ref":"#/components/schemas/Runtime"},{"type":"object","properties":{"observed":{"$ref":"#/components/schemas/Observed"}}}]},"ResourceSpec":{"type":"object","properties":{"memoryBytes":{"type":"integer","minimum":134217728,"description":"RAM allocation in bytes. Minimum 134217728 (128 MiB) — below that no real image starts, so sub-floor requests are rejected here instead of surfacing as a confusing in-guest OOM after boot."},"cpuMillis":{"type":"integer","exclusiveMinimum":0,"description":"CPU allocation in millicores (1000 = 1 vCPU)."},"storageBytes":{"type":"integer","exclusiveMinimum":0,"description":"Persistent volume size in bytes. The volume is mounted read-write at `/data` inside the workload; it survives stop/start and follows the runtime for life. Writable by the workload's own user, whatever the image runs as — root or not, no setup needed: the volume root arrives group-writable to a platform group the workload process automatically carries as a supplementary group. Files the workload creates keep their normal ownership. Software that demands strict permissions on its data directory (e.g. PostgreSQL's initdb) should use a subdirectory and set its own mode (`mkdir -m 700 /data/pgdata`). This is the only metered disk."},"ephemeralStorageBytes":{"type":"integer","exclusiveMinimum":0,"description":"Rootfs scratch-disk budget in bytes. The rootfs is a real block disk of a fixed tier size (4 or 8 GiB); the ask rounds UP to the smallest tier that fits, and `df /` inside the workload reports that tier honestly. Ephemeral: fresh from the image on every pod recreate; durable data belongs on `/data`. Bundled, never billed. Omitted → 4 GiB default. Free up to the 8 GiB cap; above the cap the request is rejected 422 — contact sales. Reads echo the requested value, never null. Filling the disk gives the writing process a plain ENOSPC write error — the workload keeps running; deleting files frees space immediately."}},"required":["memoryBytes","cpuMillis","storageBytes"]},"ReadinessSpec":{"type":"object","properties":{"port":{"type":"integer","minimum":1,"maximum":65535,"description":"Container port the HTTP readiness check hits."},"httpPath":{"type":"string","minLength":1,"pattern":"^\\/","description":"HTTP path probed for readiness; 2xx/3xx = ready."}},"required":["port","httpPath"],"description":"The explicit readiness gate as set at create. Absent = the TCP-first-port default."},"NetworkSpec":{"type":"object","properties":{"allowOut":{"type":"array","items":{"type":"string"},"maxItems":256,"description":"Allowlist mode when present: ONLY these destinations are reachable. Entries: IPv4 CIDRs or domain patterns (`*.` prefix wildcard). Domain rules follow DNS resolution — the documented industry limitation."},"denyOut":{"type":"array","items":{"type":"string"},"maxItems":256,"description":"Destinations denied even when allowed (deny wins). IPv4 CIDRs ONLY — no platform on this substrate class denies by domain; use allowOut to constrain by domain. Alone (no allowOut): open egress minus these ranges."}},"description":"The egress posture currently applied. Absent = the open default."},"Observed":{"type":"object","properties":{"phase":{"type":"string","enum":["provisioning","unschedulable","running","stopping","stopped","error","destroying","destroyed"],"description":"Engine-observed lifecycle phase. Convergence deadline: a runtime that stays `provisioning` for 5 minutes (300 000 ms) without coming healthy flips to `error` — pull failures, crash loops, and workloads that never pass readiness all surface this way. `error` is not terminal: the engine keeps reconciling, and a workload that later comes healthy returns to `running`. `unschedulable` means the location is waiting on capacity for this runtime — distinct from `provisioning` (coming up) and `error` (crashed/stuck), exempt from the 5-minute deadline, and self-correcting: when capacity frees it converges to `running` with no client action. Compute bills zero in the span; destroying instead of waiting is the client's call. `stopping` covers the whole stop teardown — from the stop being acted on until the compute is fully released (`stopped`); compute bills zero from the first `stopping` observation. The set is additive over time — treat unknown phases as not-yet-running."},"generation":{"type":"integer","description":"The desired generation this reflects."},"lastSeen":{"type":"string"},"restarts":{"type":"integer","description":"Workload container restart count. Absent until compute has been observed. A climbing count while phase sits at `provisioning` means the workload is crashing at boot — a workload problem, not a provisioning delay."},"lastExit":{"type":"object","properties":{"reason":{"type":"string","description":"Coarse terminal label (`Error`, `OOMKilled`, …) — stable vocabulary, not prose."},"exitCode":{"type":["integer","null"]},"at":{"type":["string","null"],"description":"When the container last exited (ISO-8601), if known."}},"required":["reason","exitCode","at"],"description":"The workload container's last terminal exit. Absent while it has never died. This is the WHY behind a crash loop — read it before filing a provisioning issue."}},"required":["phase","generation","lastSeen"],"description":"Absent until the engine records its first observation — normally within a few seconds of create. Absence means \"not yet observed\", never an error."},"Runtime":{"type":"object","properties":{"id":{"type":"string"},"desiredState":{"type":"string","enum":["running","stopped","destroyed"]},"generation":{"type":"integer","description":"Bumped on each desired-state change."},"image":{"type":"string","description":"The image ref this runtime runs (echoed from create)."},"env":{"type":"object","additionalProperties":{"type":"string"},"description":"The env map, echoed in full ({} when none) — env is configuration, not a secret store."},"command":{"type":"array","items":{"type":"string"},"description":"The CMD override as set at create (Docker semantics). Absent = the image runs its own CMD — the orchestrator never inspects the image, so it cannot echo a default."},"entrypoint":{"type":"array","items":{"type":"string"},"description":"The ENTRYPOINT override as set at create (Docker semantics). Absent = image default."},"resources":{"$ref":"#/components/schemas/ResourceSpec"},"rootfsReadOnly":{"type":"boolean","description":"The rootfs hardening knob as set at create (default false)."},"ports":{"type":"array","items":{"type":"integer","minimum":1,"maximum":65535,"description":"Internal port the workload listens on (HTTP). Declared by the client; never inferred."},"description":"Exposed ports the client declared at create (echoed back as bare integers)."},"urls":{"type":"object","additionalProperties":{"type":"string"},"description":"Reach handle per declared port, keyed by the port number as a string ({} when no ports are declared). The same opaque, placement-free handle POST /v1/runtimes/{id}/reach returns — the client parses nothing out of it. The handle exists from create; it serves traffic once the workload passes readiness (before that the edge answers with an error status)."},"readiness":{"$ref":"#/components/schemas/ReadinessSpec"},"network":{"$ref":"#/components/schemas/NetworkSpec"},"metadata":{"type":"object","additionalProperties":{"type":"string"},"description":"Correlation labels, echoed in full ({} when none)."},"region":{"type":"string","description":"The public location this runtime runs in (e.g. \"brq\") — the resolved value, always present (the client's choice, or the default when omitted). The internal cluster and node are never exposed."},"clientRef":{"type":"string"}},"required":["id","desiredState","generation","image","env","resources","rootfsReadOnly","ports","urls","metadata","region","clientRef"]},"InvalidRequestError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INVALID_REQUEST"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"Shape validation refused the request: bad JSON, a malformed field, or a violated bound."},"InsufficientBalanceError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INSUFFICIENT_BALANCE"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"Metered admission refused the create/start: the balance is not positive. Top up first."},"VolumeNotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NOT_FOUND"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No such volume for this team (unknown, malformed, or another team's id — never disclosed which)."},"IdempotencyConflictError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["CONFLICT","VOLUME_BUSY"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"Create refused by a conflict — `code` names which. CONFLICT: the Idempotency-Key was reused with a DIFFERENT effective request (same key + same request replays idempotently; a different request needs a fresh key). VOLUME_BUSY: the volume named by `volumeId` is attached elsewhere or mid-delete — destroy the holding runtime first."},"PolicyRefusedError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INVALID_REQUEST"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"A policy gate (not shape validation) refused a well-formed request; the message names the gate."},"LimitExceededError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["RATE_LIMITED","CONCURRENCY_LIMIT","RESOURCE_QUOTA"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"A limit refused the request — `code` names which: RATE_LIMITED = request-rate budget (wait `Retry-After`, retry); CONCURRENCY_LIMIT = the running-runtime cap (a quota — destroy a runtime or raise the cap; retrying without that cannot succeed, and no Retry-After is sent); RESOURCE_QUOTA = a per-family vCPU/memory ceiling would be passed (resource-governance Gate C) — the message names the family and the exceeded axis; stop or destroy a runtime of that family, or raise the family quota (no Retry-After)."},"NoCapacityError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NO_CAPACITY"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The requested location cannot take this runtime right now — its cluster is full, draining, or not yet live. No row, PVC, or charge is created; retry later or pick another region (GET /v1/regions). Never a silent cross-location fallback."},"CreateRuntimeRequest":{"type":"object","properties":{"clientRef":{"type":"string","minLength":1,"description":"Opaque client correlation handle. No shared id-space, no FK. Optional — the orchestrator generates one when omitted (echoed on reads)."},"image":{"type":"string","minLength":1,"description":"Resolved container image ref the orchestrator pulls. MUST be anonymously pullable: no registry-credential channel exists (private registries are not supported). Echoed back on every Runtime read."},"config":{"type":"string","minLength":1,"maxLength":1048576,"pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","description":"Optional opaque workload config, base64 over the wire (see the config description). Omitted = no config file is mounted at /etc/planir/config."},"env":{"type":"object","additionalProperties":{"type":"string"},"description":"Optional env vars (default {}). See the EnvMap description."},"command":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"description":"Optional CMD override, Docker semantics (argv array, no shell). Omitted = the image's own CMD. Create-time only — there is no replace verb; recreate to change it."},"entrypoint":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"description":"Optional ENTRYPOINT override, Docker semantics (argv array, no shell). Omitted = the image's own ENTRYPOINT. Create-time only — there is no replace verb."},"resources":{"$ref":"#/components/schemas/ResourceSpecInput"},"volumeId":{"type":"string","minLength":1,"description":"Attach an EXISTING standalone volume (POST /v1/volumes) at `/data` instead of auto-creating one. The volume defines the storage size — mutually exclusive with `resources.storageBytes` (400 when both are present); mount and ownership semantics are identical. Runtime destroy then DETACHES the volume (back to `available`, data intact) instead of deleting it. The volume must be `available`: attached elsewhere or mid-delete → 409 VOLUME_BUSY; unknown or another team's id → 404. Omitted = an auto-created volume that is deleted with the runtime (the default lifecycle)."},"ports":{"type":"array","items":{"type":"integer","minimum":1,"maximum":65535,"description":"Internal port the workload listens on (HTTP). Declared by the client; never inferred."},"description":"Exposed ports the orchestrator routes the public handle to, as bare integers (e.g. [8080]). Omitted or [] = no public surface; never inferred from the image. Port numbers must be unique."},"readiness":{"allOf":[{"$ref":"#/components/schemas/ReadinessSpec"},{"description":"Optional explicit HTTP readiness gate — `observed: running` then means this path answered. Omitted = a TCP probe on the FIRST declared port (or, with no declared ports, running = the container started). Exactly ONE probe ever. Create-time only — there is no replace verb."}]},"network":{"allOf":[{"$ref":"#/components/schemas/NetworkSpec"},{"description":"Optional egress posture (see NetworkSpec). Omitted = open egress minus the standing SSRF/private deny. Replaceable later via PUT /network (applies live, no restart)."}]},"metadata":{"type":"object","additionalProperties":{"type":"string","maxLength":256},"description":"Optional correlation labels (default {}). See the metadata description."},"rootfsReadOnly":{"type":"boolean","description":"Hardening knob, default false. false (default): the rootfs is writable — a standard machine; writes land in the ephemeral scratch budget. true: the rootfs is the image verbatim, read-only, with writable /tmp and /run scratch mounts (funded by the same budget); anything durable belongs on `/data`."},"desiredState":{"type":"string","enum":["running","stopped"],"description":"Initial desired state (default running). Cannot create destroyed."},"region":{"type":"string","minLength":1,"description":"Optional location to run in — the public region label (e.g. \"brq\"), a plain string, NEVER an enum. Discover the offered values via GET /v1/regions. Omitted = the cheapest available location for the chosen preset. A location that exists but does not offer this preset's family → 422; a location that is full or not yet live → 503 NO_CAPACITY. Never a silent cross-location fallback. Echoed on every read."}},"required":["image"]},"ResourceSpecInput":{"type":"object","properties":{"memoryBytes":{"type":"integer","minimum":134217728,"description":"RAM allocation in bytes. Minimum 134217728 (128 MiB) — below that no real image starts, so sub-floor requests are rejected here instead of surfacing as a confusing in-guest OOM after boot."},"cpuMillis":{"type":"integer","exclusiveMinimum":0,"description":"CPU allocation in millicores (1000 = 1 vCPU)."},"storageBytes":{"type":"integer","exclusiveMinimum":0,"description":"Persistent volume size in bytes. The volume is mounted read-write at `/data` inside the workload; it survives stop/start and follows the runtime for life. Writable by the workload's own user, whatever the image runs as — root or not, no setup needed: the volume root arrives group-writable to a platform group the workload process automatically carries as a supplementary group. Files the workload creates keep their normal ownership. Software that demands strict permissions on its data directory (e.g. PostgreSQL's initdb) should use a subdirectory and set its own mode (`mkdir -m 700 /data/pgdata`). This is the only metered disk. Optional at create: omitted → the 4 GiB default (4294967296), or — with `volumeId` — the attached volume's own size. Mutually exclusive with `volumeId` (400 when both are present). Reads always echo the effective value."},"ephemeralStorageBytes":{"type":"integer","exclusiveMinimum":0,"description":"Rootfs scratch-disk budget in bytes. The rootfs is a real block disk of a fixed tier size (4 or 8 GiB); the ask rounds UP to the smallest tier that fits, and `df /` inside the workload reports that tier honestly. Ephemeral: fresh from the image on every pod recreate; durable data belongs on `/data`. Bundled, never billed. Omitted → 4 GiB default. Free up to the 8 GiB cap; above the cap the request is rejected 422 — contact sales. Reads echo the requested value, never null. Filling the disk gives the writing process a plain ENOSPC write error — the workload keeps running; deleting files frees space immediately."}},"required":["memoryBytes","cpuMillis"],"description":"Optional resource allocation. Omitted = the published defaults: 1 vCPU (cpuMillis 1000), 2 GiB memoryBytes (2147483648), 4 GiB storageBytes (4294967296). Reads always echo the effective (defaults-applied) values."},"RuntimesList":{"type":"object","properties":{"runtimes":{"type":"array","items":{"$ref":"#/components/schemas/Runtime"}},"nextCursor":{"type":"string","description":"Pass verbatim as `?cursor=` for the next page. Absent = this is the last page."}},"required":["runtimes"]},"RuntimeNotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NOT_FOUND"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No such runtime for this team (unknown, malformed, or another team's id — never disclosed which)."},"RuntimeDestroyedError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INVALID_STATE"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The runtime is destroyed — terminal. The handle stays readable; nothing else can succeed."},"RuntimeNotRunningError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INVALID_STATE"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No running compute to act on (not provisioned yet, crash-looping, stopped, or destroyed). Unless destroyed, retry after the runtime is observed running."},"ExecResult":{"type":"object","properties":{"exitCode":{"type":["integer","null"],"description":"Process exit code, or null when the outcome is unknown (the command never ran as a process, the compute died under it before reporting, or the capture deadline cut it — `timedOut` says which). A null exitCode is terminal for that invocation — the command is never auto-re-run."},"stdout":{"type":"string","description":"Captured stdout, truncated at 1 MiB (a marker line is appended when truncated)."},"stderr":{"type":"string","description":"Captured stderr, truncated at 1 MiB (marker appended when truncated)."},"timedOut":{"type":"boolean","description":"True when the capture deadline cut this exec: exitCode is null, the streams hold what was captured up to the cut, and the process MAY STILL BE RUNNING in the runtime (the deadline bounds capture, never the process). False on every other outcome."}},"required":["exitCode","stdout","stderr","timedOut"]},"PayloadTooLargeError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INVALID_REQUEST"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The request body exceeds the wire-level bound (512 KiB on the exec routes) — refused before parsing. The stdin field has its own 256 KiB cap inside this bound (400)."},"ExecRequest":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"description":"argv — run directly, no shell. Per-exec working directory or env vars ride the canonical wrapper `[\"sh\",\"-c\",\"cd DIR && KEY=VAL exec CMD\"]`, which requires a POSIX shell in the image. Ambient env is runtime-level: PUT /v1/runtimes/{id}/env."},"stdin":{"type":"string","description":"Text written to the command's standard input, then closed — the process sees EOF after the last byte. UTF-8, at most 256 KiB. Binary stdin is out of scope: deliver binary data via volumes or runtime env instead."},"timeoutMs":{"type":"integer","minimum":1,"maximum":30000,"description":"Capture deadline in milliseconds (1–30000, default 30000 — the edge's connection ceiling). Bounds output CAPTURE, never the process: past the deadline the command may still be running in the runtime; the remedy for a runaway is stop/start. Out-of-bounds values are refused (400), never clamped."}},"required":["command"]},"ExecId":{"type":"object","properties":{"execId":{"type":"string","description":"Handle for polling GET /v1/runtimes/{id}/exec/{execId}. Scoped to its runtime; results are retained briefly post-exit, then the id 404s."}},"required":["execId"]},"DetachedExecRequest":{"type":"object","properties":{"command":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"description":"argv — run directly, no shell. Per-exec working directory or env vars ride the canonical wrapper `[\"sh\",\"-c\",\"cd DIR && KEY=VAL exec CMD\"]`, which requires a POSIX shell in the image. Ambient env is runtime-level: PUT /v1/runtimes/{id}/env."},"stdin":{"type":"string","description":"Text written to the command's standard input, then closed — the process sees EOF after the last byte. UTF-8, at most 256 KiB. Binary stdin is out of scope: deliver binary data via volumes or runtime env instead."},"timeoutMs":{"type":"integer","minimum":1,"maximum":1800000,"description":"Capture deadline in milliseconds (1–1800000, default 1800000 — the engine's capture ceiling). Bounds output CAPTURE, never the process: past the deadline the command may still be running in the runtime; the remedy for a runaway is stop/start. Out-of-bounds values are refused (400), never clamped."}},"required":["command"]},"ExecList":{"type":"object","properties":{"execs":{"type":"array","items":{"type":"object","properties":{"execId":{"type":"string","description":"Poll handle — GET /v1/runtimes/{id}/exec/{execId}."},"status":{"type":"string","enum":["running","exited"],"description":"running = still executing; exited = final (briefly retained)."},"command":{"type":"array","items":{"type":"string"},"description":"The exact argv this exec was started with (echoed)."}},"required":["execId","status","command"]}}},"required":["execs"],"description":"Detached execs only (sync execs are request-scoped, never listed). Records are in-process: they expire past the brief post-exit retention and die with an engine restart — the same ephemerality the poll endpoint documents."},"DetachedExec":{"type":"object","properties":{"status":{"type":"string","enum":["running","exited"],"description":"running = still executing; exited = final, stop polling."},"exitCode":{"type":["integer","null"],"description":"Null while running. After exit: the process exit code, or null when the outcome is unknown (stream cut — stderr says so in stable words) or the capture deadline cut it (`timedOut: true`). A deadline stops output CAPTURE, not the process: it may still be running in the runtime; the remedy for a runaway is stop/start."},"stdout":{"type":"string","description":"Captured stdout SO FAR (final once exited), truncated at 1 MiB with a marker."},"stderr":{"type":"string","description":"Captured stderr SO FAR (final once exited), truncated at 1 MiB with a marker."},"timedOut":{"type":"boolean","description":"True when the capture deadline cut this exec: exitCode is null, the streams hold what was captured up to the cut, and the process MAY STILL BE RUNNING in the runtime (the deadline bounds capture, never the process). False on every other outcome."}},"required":["status","exitCode","stdout","stderr","timedOut"]},"ExecNotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NOT_FOUND"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No such runtime, or no such (or expired) execId for it — results are retained briefly."},"ConfigRequest":{"type":"object","properties":{"config":{"type":"string","minLength":1,"maxLength":1048576,"pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","description":"Opaque workload config, base64 over the wire. Never parsed. Max 1 MiB encoded. Delivery: the DECODED bytes are mounted read-only at `/etc/planir/config` inside the workload — no env-var channel exists. Handling: held server-side solely for delivery; never parsed, logged, or echoed in error bodies. Replacing config rolls the workload only when the bytes actually change (content checksum); a byte-identical replace does not restart it."}},"required":["config"]},"EnvRequest":{"type":"object","properties":{"env":{"type":"object","additionalProperties":{"type":"string"},"description":"Plain environment variables delivered to the workload process. Keys match [A-Za-z_][A-Za-z0-9_]*; the JSON-encoded map is capped at 128 KiB. Replacing env rolls the workload only when the map actually changes; a byte-identical replace does not restart it. Echoed on reads; never logged or echoed in error bodies."}},"required":["env"]},"NetworkRequest":{"type":"object","properties":{"network":{"$ref":"#/components/schemas/NetworkSpec"}},"required":["network"]},"Reach":{"type":"object","properties":{"url":{"type":"string","description":"Opaque, placement-free reach handle (e.g. https://<port>--<id>.<base>). The client parses nothing out of it; the shape is not a wire contract."}},"required":["url"]},"ReachRequest":{"type":"object","properties":{"port":{"type":"integer","minimum":1,"maximum":65535,"description":"The internal port to resolve. The caller always names it."}},"required":["port"]},"MetadataRequest":{"type":"object","properties":{"metadata":{"type":"object","additionalProperties":{"type":"string","maxLength":256},"description":"Free-form correlation labels. Keys match [A-Za-z0-9._-]+ (max 64 chars), values max 256 chars, at most 32 entries. Echoed on reads; filterable on the list endpoint via `?metadata.<key>=<value>`. Never interpreted by the platform."}},"required":["metadata"]},"UsageList":{"type":"object","properties":{"usage":{"type":"array","items":{"$ref":"#/components/schemas/Usage"}}},"required":["usage"]},"Usage":{"type":"object","properties":{"windowStart":{"type":"string"},"windowEnd":{"type":"string"},"cpuSeconds":{"type":"string","description":"vCPU-seconds over running spans (string — big number)."},"memoryByteSeconds":{"type":"string"},"storageByteSeconds":{"type":"string"},"egressBytes":{"type":"string","description":"NOT YET METERED — always \"0\". Placeholder until per-runtime CNI egress metering lands; a biller MUST NOT treat this as a measured value."}},"required":["windowStart","windowEnd","cpuSeconds","memoryByteSeconds","storageByteSeconds","egressBytes"]},"EventsList":{"type":"object","properties":{"events":{"type":"array","items":{"$ref":"#/components/schemas/Event"}}},"required":["events"]},"Event":{"type":"object","properties":{"cursor":{"type":"integer","description":"Monotonic, append-only position."},"type":{"type":"string","description":"Event vocabulary today: `created`, `desired-state-changed`, `config-updated`, `env-updated`, `network-updated`, plus one event per observed-phase transition (`provisioning`, `unschedulable`, `running`, `stopping`, `stopped`, `error`, `destroying`, `destroyed`). The set is additive over time — treat unknown types as audit records. Events are the audit/wake-up channel; the authoritative state is always `GET /v1/runtimes/{id}` `observed.phase`."},"occurredAt":{"type":"string","format":"date-time","description":"ISO 8601 UTC timestamp (RFC 3339), e.g. `2026-07-04T19:53:02.497Z`."},"data":{"type":"object","additionalProperties":{},"description":"Free-form per-type payload. Observed-phase events (including `error`) carry `{generation}` only — no failure diagnosis, by design: events are wake-up signals, not state. The WHY of an `error` phase is read from the runtime itself — `observed.restarts` and `observed.lastExit {reason, exitCode, at}` distinguish a crash loop from a workload that never started, and `GET /v1/runtimes/{id}/logs` carries the workload’s own words."}},"required":["cursor","type","occurredAt","data"]},"Volume":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","description":"The human handle, unique within the team."},"sizeBytes":{"type":"integer","description":"Provisioned size in bytes — the hard device-enforced cap."},"deleteWithRuntime":{"type":"boolean","description":"true = a runtime-managed `/data` volume (auto-created at runtime create, deleted with its runtime); false = standalone (runtime destroy detaches it instead — the volume and its data outlive the runtime)."},"state":{"type":"string","enum":["available","attached","deleting"],"description":"available = unattached, attachable via runtime create `volumeId`, deletable; attached = held by a runtime for that runtime's whole LIFE (stop does not release it — only destroy does); deleting = a delete in flight."},"runtimeId":{"type":"string","description":"The holding runtime. Present exactly while `state` is `attached`."},"region":{"type":"string","description":"The volume's home location, stamped at create and fixed for its life. A runtime created with this `volumeId` is placed here (runtime-follows-volume)."},"createdAt":{"type":"string","format":"date-time"}},"required":["id","name","sizeBytes","deleteWithRuntime","state","region","createdAt"]},"VolumeNameConflictError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["CONFLICT"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"A volume with this name already exists in the team — names are unique per team."},"CreateVolumeRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":63,"pattern":"^[a-z0-9]([a-z0-9-]*[a-z0-9])?$","description":"The human handle, unique within the team (duplicate → 409 CONFLICT). Lowercase DNS-label shape: `[a-z0-9]` with interior hyphens, 1–63 chars. Names beginning `data-` are reserved for runtime-managed `/data` volumes (400)."},"sizeBytes":{"type":"integer","exclusiveMinimum":0,"description":"Provisioned size in bytes — a hard cap enforced by the device itself (the workload hits plain ENOSPC at the brim; deleting files frees space immediately). Fixed for the volume's life (no resize in v1). Billed as provisioned byte-seconds from create to delete, attached or not."},"region":{"type":"string","description":"The location to home the volume in — the same choice runtime create takes. Omitted: the default location. A location that is not offered → 422; one with no capacity right now → 503 (nothing provisioned). See `GET /v1/regions`. The home is fixed for the volume's life: a runtime attaching this volume is placed here (data gravity — the runtime follows the volume, never the reverse)."}},"required":["name","sizeBytes"]},"VolumesList":{"type":"object","properties":{"volumes":{"type":"array","items":{"$ref":"#/components/schemas/Volume"}}},"required":["volumes"]},"VolumeBusyError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["VOLUME_BUSY"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The volume is attached (or mid-delete): attachment spans the holding runtime's whole life — stop does not release it. Destroy the runtime first; no force-detach exists in v1."},"PresetsList":{"type":"object","properties":{"presets":{"type":"array","items":{"$ref":"#/components/schemas/Preset"}}},"required":["presets"]},"Preset":{"type":"object","properties":{"id":{"type":"string","description":"Preset id — the shape to request: a runtime whose `resources` exactly match a preset's cpu/memory is billed at that preset's rates."},"family":{"type":"string","enum":["co","gp"],"description":"Display grouping (`co` = Cost Optimized, shared vCPU; `gp` = General Purpose, dedicated vCPU). Grouping only — availability is not decided by family."},"cpuMillis":{"type":"integer","description":"CPU allocation in millicores (1000 = 1 vCPU)."},"memoryBytes":{"type":"integer","description":"RAM allocation in bytes."},"hourlyMicrocents":{"type":"integer","description":"Metered compute rate per hour, in microcents (1 USD = 100,000,000)."},"monthlyCeilingMicrocents":{"type":"integer","description":"Per-runtime compute cap per UTC calendar month, in microcents: however long the runtime runs within a month, its compute line never exceeds this."},"storageMicrocentsPerGibMonth":{"type":"integer","description":"Volume storage rate per GiB (2^30 bytes) per month, in microcents."},"storageFreeBytes":{"type":"integer","description":"Free volume allowance per runtime, in bytes — storage bills only the excess."}},"required":["id","family","cpuMillis","memoryBytes","hourlyMicrocents","monthlyCeilingMicrocents","storageMicrocentsPerGibMonth","storageFreeBytes"]},"RegionsList":{"type":"object","properties":{"regions":{"type":"array","items":{"$ref":"#/components/schemas/Region"},"description":"Every catalogued location, region-ASC."}},"required":["regions"]},"Region":{"type":"object","properties":{"region":{"type":"string","description":"The public location label (e.g. \"brq\") — a plain string, never an enum; new locations appear additively. The value create requests accept as `region`."},"families":{"type":"array","items":{"$ref":"#/components/schemas/RegionFamilyAvailability"},"description":"Per-family availability at this location, family-ASC. A catalogued-but-full family stays LISTED with `available: false`; an EMPTY array means no family is catalogued here at all (the label listed so it is discoverable ahead of commissioning) — two different facts."}},"required":["region","families"]},"RegionFamilyAvailability":{"type":"object","properties":{"family":{"type":"string","description":"A preset family offered at this location (see GET /v1/presets)."},"available":{"type":"boolean","description":"Whether at least one cluster at this location can take the family's smallest preset right now. `false` = full, draining, or not yet commissioned — a create naming this location refuses 503 until it flips. Derived live on every read; re-read rather than remember."}},"required":["family","available"]},"Team":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"kind":{"type":"string","enum":["root","customer"],"description":"root = the platform operator; customer = an ordinary tenant."},"package":{"$ref":"#/components/schemas/TeamPackageSummary"},"limits":{"$ref":"#/components/schemas/TeamLimits"},"balanceMicrocents":{"type":"integer","description":"Current ledger balance in integer microcents (1 USD = 100,000,000) — the sum of every ledger row (topups and bonuses add, usage debits subtract). Metered teams must keep this above zero to create or start runtimes; flat teams (root included) ignore it. Integer over the wire (Stripe-style); exact for every realistic balance (orders of magnitude below 2^53)."}},"required":["id","name","kind","package","limits","balanceMicrocents"]},"TeamPackageSummary":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","description":"Package name (e.g. `standard`, `free`, or a custom deal)."},"billingMode":{"type":"string","enum":["metered","flat"],"description":"metered = per-usage debits against the balance; flat = a monthly price with no per-usage debits (root and VIP deals)."},"concurrencyLimit":{"type":"integer","description":"The EFFECTIVE concurrency ceiling admission enforces — the team-level override when one is set, otherwise the package cap (coalesce(team override, package cap)). The most running runtimes this team may hold at once."}},"required":["id","name","billingMode","concurrencyLimit"]},"TeamLimits":{"type":"object","properties":{"maxConcurrentRuntimes":{"type":"integer","description":"Gate B — the running-runtime count cap (the same value as `package.concurrencyLimit`; breach = 429 CONCURRENCY_LIMIT)."},"allowedPresetIds":{"type":["array","null"],"items":{"type":"string"},"description":"Gate A — exactly these presets are creatable, regardless of billing mode; null = no explicit set (a metered team must still match SOME public preset; see GET /v1/presets). Breach = 422 INVALID_REQUEST."},"families":{"type":"object","additionalProperties":{"type":"object","properties":{"maxVcpuMillis":{"type":"integer","description":"Ceiling on the SUM of vCPU-millis across the family's running runtimes."},"maxMemoryBytes":{"type":"integer","description":"Ceiling on the SUM of memory bytes across the family's running runtimes."}},"required":["maxVcpuMillis","maxMemoryBytes"]},"description":"Gate C — per-family resource ceilings over RUNNING runtimes, region-blind (where each runtime lands stays your choice). A family absent here is uncapped; breach = 429 RESOURCE_QUOTA. A ceiling is an entitlement, never a capacity reservation — a create under quota can still see 503 NO_CAPACITY in a full location."}},"required":["maxConcurrentRuntimes","allowedPresetIds","families"]},"TeamUsage":{"type":"object","properties":{"period":{"type":"string","description":"The UTC calendar month these windows cover, `YYYY-MM`."},"windows":{"type":"array","items":{"$ref":"#/components/schemas/TeamUsageWindow"}},"volumeWindows":{"type":"array","items":{"$ref":"#/components/schemas/TeamUsageVolumeWindow"},"description":"Detached standalone-volume accruals for the month (volumes-v2). A volume attached all month has no line here — its storage billed through the runtime windows above."},"totals":{"type":"object","properties":{"billedMicrocents":{"type":"integer","description":"Runtime windows + volume accruals together — the month total."},"meteredMs":{"type":"integer"},"wallMs":{"type":"integer"},"detachedMs":{"type":"integer"}},"required":["billedMicrocents","meteredMs","wallMs","detachedMs"],"description":"Sums across the returned windows — this team's month total. Derived from the window rows themselves (the invoice lines); no money is re-computed on read."}},"required":["period","windows","volumeWindows","totals"]},"TeamUsageWindow":{"type":"object","properties":{"runtimeId":{"type":"string"},"period":{"type":"string","description":"The UTC calendar month this window covers, `YYYY-MM`."},"meteredMs":{"type":"integer","description":"Metered compute milliseconds accrued in the month (event-derived, clipped to the month)."},"wallMs":{"type":"integer","description":"Wall-clock milliseconds the volume existed in the month (create→destroy span, clipped) — accrues while stopped."},"billedMicrocents":{"type":"integer","description":"What this window has billed so far, integer microcents. 0 for a flat/root window (quantities accrue, nothing is debited) and for a priceless (non-preset) window."},"prices":{"type":["object","null"],"properties":{"presetId":{"type":"string"},"hourlyMicrocents":{"type":"integer"},"ceilingMicrocents":{"type":"integer"},"storageMicrocentsPerGibMonth":{"type":"integer"},"storageFreeBytes":{"type":"integer"}},"required":["presetId","hourlyMicrocents","ceilingMicrocents","storageMicrocentsPerGibMonth","storageFreeBytes"],"description":"The window's own carried prices, resolved once when it opened — a reprice or renegotiation never rewrites a month in progress. Null AS A UNIT for a non-preset shape (priceless window): quantities still accrue, billedMicrocents stays 0."},"state":{"type":"string","enum":["open","closed"],"description":"open = still accruing this month; closed = final (destroy or month rollover, past the event-visibility skew bound)."},"closedAt":{"type":["string","null"],"description":"When the window closed (ISO-8601), or null while open."}},"required":["runtimeId","period","meteredMs","wallMs","billedMicrocents","prices","state","closedAt"]},"TeamUsageVolumeWindow":{"type":"object","properties":{"volumeId":{"type":"string"},"period":{"type":"string","description":"The UTC calendar month this accrual covers, `YYYY-MM`."},"detachedMs":{"type":"integer","description":"Milliseconds the volume sat DETACHED in the month. Attached time never appears here — it bills through the holding runtime's window storage line."},"billedMicrocents":{"type":"integer","description":"What this accrual has billed so far, integer microcents — provisioned bytes × the carried rate × detached time, NO free allowance (parked capacity bills from byte zero). 0 on flat packages (quantities accrue, nothing is debited)."},"storageMicrocentsPerGibMonth":{"type":"integer","description":"The accrual's own carried storage rate, copied from the package when it opened — a reprice never rewrites a month in progress."},"state":{"type":"string","enum":["open","closed"],"description":"open = still accruing this month; closed = final (volume delete or month rollover, past the event-visibility skew bound)."},"closedAt":{"type":["string","null"],"description":"When the accrual closed (ISO-8601), or null while open."}},"required":["volumeId","period","detachedMs","billedMicrocents","storageMicrocentsPerGibMonth","state","closedAt"]},"TeamLedger":{"type":"object","properties":{"entries":{"type":"array","items":{"$ref":"#/components/schemas/TeamLedgerEntry"}},"nextCursor":{"type":"string","description":"Pass verbatim as `?cursor=` for the next (older) page. Absent = this is the last page."}},"required":["entries"]},"TeamLedgerEntry":{"type":"object","properties":{"id":{"type":"string"},"kind":{"type":"string","enum":["topup","usage_debit","adjustment","bonus"],"description":"topup / bonus add to the balance (positive); usage_debit subtracts (negative); adjustment is a signed correction (either way, never zero)."},"amountMicrocents":{"type":"integer","description":"Signed integer microcents — positive adds to the balance, negative subtracts. Exact for every realistic amount (orders of magnitude below 2^53)."},"idempotencyKey":{"type":"string","description":"The row's dedup handle: your own key on a topup/adjustment, or a self-describing `usage:{runtime}:{period}:{total}` on a usage debit — how you correlate a row to the write that produced it."},"stripeRef":{"type":["string","null"],"description":"The Stripe event id on a webhook topup; null on every other row."},"createdAt":{"type":"string","format":"date-time","description":"When the row was appended (ISO-8601 UTC)."}},"required":["id","kind","amountMicrocents","idempotencyKey","stripeRef","createdAt"]},"ApiKeyMint":{"allOf":[{"$ref":"#/components/schemas/ApiKey"},{"type":"object","properties":{"secret":{"type":"string","description":"The plaintext API key — returned exactly once, at mint, and never retrievable again. Send it as `Authorization: Bearer <secret>`. Store it securely now; the server keeps only a one-way digest."}},"required":["secret"]}]},"ApiKey":{"type":"object","properties":{"id":{"type":"string","description":"Stable key id — the handle for `DELETE /v1/team/keys/{id}`."},"prefixHint":{"type":"string","description":"Display prefix: `plnr_` + the first 4 random characters (e.g. `plnr_ab12`) — enough to recognise a key in a list, never enough to use it."},"last4":{"type":"string","description":"The key’s last 4 characters, to disambiguate keys that share a prefix."},"name":{"type":["string","null"],"description":"The optional display name set at mint; null when unnamed."},"createdAt":{"type":"string","format":"date-time","description":"When the key was minted (ISO-8601 UTC)."},"lastUsedAt":{"type":["string","null"],"format":"date-time","description":"Approximate time of the key’s most recent authenticated request (best-effort, throttled to ≤ 1 update/minute); null until first used."},"expiresAt":{"type":["string","null"],"format":"date-time","description":"When the key expires, if an expiry was set at mint; null = never expires (the machine-credential norm). An expired key fails authentication exactly like a revoked one."},"revokedAt":{"type":["string","null"],"format":"date-time","description":"When the key was revoked; null = active. A revoked key is preserved for audit and fails authentication on its next request."}},"required":["id","prefixHint","last4","name","createdAt","lastUsedAt","expiresAt","revokedAt"]},"ApiKeyMintRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":200,"description":"Optional display name to recognise the key later (1–200 chars)."},"expiresAt":{"type":"string","format":"date-time","description":"Optional ISO-8601 expiry (GitHub-style hygiene, on request). Omitted = never expires — the machine-credential norm; expiry is never forced (scheduled key death breaks live integrations)."}}},"ApiKeyList":{"type":"object","properties":{"keys":{"type":"array","items":{"$ref":"#/components/schemas/ApiKey"}}},"required":["keys"]},"KeyNotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NOT_FOUND"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No such API key for this team."},"Topup":{"type":"object","properties":{"checkoutUrl":{"type":"string","description":"The Stripe-hosted Checkout page URL — redirect the payer here to complete the topup. The team balance is credited only after Stripe confirms the payment server-to-server."}},"required":["checkoutUrl"]},"PaymentRailUnavailableError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["INTERNAL"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"The Stripe payment rail is not configured on this deployment; topups cannot be created."},"TopupRequest":{"type":"object","properties":{"amountMicrocents":{"type":"integer","minimum":100000000,"maximum":10000000000000,"multipleOf":1000000,"description":"Credit to add, in USD integer microcents (1 USD = 100,000,000). A whole number of US cents (a multiple of 1,000,000), between $1 (100,000,000) and $100,000 (10,000,000,000,000). The balance is credited with what Stripe actually charges, not this requested value."},"successUrl":{"type":"string","format":"uri","description":"Absolute URL Stripe returns the payer to after a completed payment."},"cancelUrl":{"type":"string","format":"uri","description":"Absolute URL Stripe returns the payer to if they abandon the payment."}},"required":["amountMicrocents","successUrl","cancelUrl"]},"WebhookMint":{"allOf":[{"$ref":"#/components/schemas/WebhookEndpoint"},{"type":"object","properties":{"secret":{"type":"string","description":"The endpoint signing secret (`whsec_` + base64 of 32 random bytes, per the Standard Webhooks spec) — returned exactly once, here, and never retrievable again. Verify deliveries with any Standard Webhooks consumer library: headers `webhook-id`, `webhook-timestamp` (unix seconds; ±5 minutes tolerance recommended), `webhook-signature` (`v1,` + base64 HMAC-SHA256 over `id.timestamp.payload`, keyed with the base64-decoded secret bytes). During a secret rotation the one signature header carries both signatures, space-delimited."}},"required":["secret"]}]},"WebhookEndpoint":{"type":"object","properties":{"id":{"type":"string","description":"Stable endpoint id — the handle for the endpoint routes."},"url":{"type":"string","description":"The receiver URL."},"eventTypes":{"type":"array","items":{"$ref":"#/components/schemas/WebhookEventType"},"description":"The event-type filter; absent = all lifecycle types."},"enabled":{"type":"boolean","description":"false = deliveries are stopped (auto-disabled after sustained failure, per the delivery policy). Re-enable explicitly via POST …/{id}/enable; pending deliveries resume."},"prefixHint":{"type":"string","description":"Display prefix of the signing secret: `whsec_` + the first 4 characters — enough to recognise it, never enough to verify with."},"failingSince":{"type":["string","null"],"format":"date-time","description":"Set while the endpoint is on the auto-disable clock: the instant its current failure streak began (a delivery exhausted its retry schedule). Null = healthy (any successful delivery clears it). When it grows older than the disable window, the endpoint flips to `enabled: false`."},"createdAt":{"type":"string","format":"date-time"}},"required":["id","url","enabled","prefixHint","failingSince","createdAt"]},"CreateWebhookRequest":{"type":"object","properties":{"url":{"type":"string","maxLength":2048,"format":"uri","description":"The receiver URL. HTTPS is required (HTTP is accepted only on non-production deployments, for local development). The host must resolve to a public address: deliveries to private, link-local, or platform-internal ranges are refused at send time, re-checked on every attempt."},"eventTypes":{"type":"array","items":{"$ref":"#/components/schemas/WebhookEventType"},"minItems":1,"maxItems":4,"description":"Event-type filter: deliver only these types. Omitted = all lifecycle types, including types added in the future."}},"required":["url"]},"WebhooksList":{"type":"object","properties":{"webhooks":{"type":"array","items":{"$ref":"#/components/schemas/WebhookEndpoint"}}},"required":["webhooks"]},"WebhookNotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NOT_FOUND"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No such webhook endpoint for this team (unknown, malformed, or another team's id — never disclosed which)."},"WebhookDeliveriesList":{"type":"object","properties":{"deliveries":{"type":"array","items":{"$ref":"#/components/schemas/WebhookDelivery"}}},"required":["deliveries"]},"WebhookDelivery":{"type":"object","properties":{"id":{"type":"string","description":"The delivery row id — the handle for redelivery."},"eventId":{"type":"string","description":"The wire event id (`evt_<n>`, monotonic) — equals the delivery's `webhook-id` header and payload `id`, INCLUDING across retries and manual redelivery: deduplicate by this."},"eventType":{"$ref":"#/components/schemas/WebhookEventType"},"runtimeId":{"type":"string","description":"The runtime the event concerns."},"occurredAt":{"type":"string","format":"date-time","description":"When the event occurred — the payload `timestamp`."},"state":{"type":"string","enum":["pending","succeeded","exhausted"],"description":"`pending` = scheduled (first attempt or mid-retry); `succeeded` = a 2xx landed; `exhausted` = every scheduled attempt failed (redeliver to retry manually)."},"attempts":{"type":"integer","description":"Attempts made so far."},"nextAttemptAt":{"type":["string","null"],"format":"date-time","description":"The next scheduled attempt while `pending`; null once settled."},"lastStatus":{"type":["integer","null"],"description":"HTTP status of the last attempt; null before any attempt or on a non-HTTP failure."},"lastError":{"type":["string","null"],"description":"Failure class of the last failed attempt (`http_<status>`, `timeout`, `network`, `dns`, `ssrf_denied`); null before any attempt and after a success."},"lastDurationMs":{"type":["integer","null"],"description":"Wall-clock of the last attempt."},"createdAt":{"type":"string","format":"date-time"}},"required":["id","eventId","eventType","runtimeId","occurredAt","state","attempts","nextAttemptAt","lastStatus","lastError","lastDurationMs","createdAt"]},"WebhookDeliveryNotFoundError":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["NOT_FOUND"]},"message":{"type":"string"}},"required":["code"]}},"required":["error"],"description":"No such webhook endpoint for this team, or no such delivery on it — never disclosed which."}},"parameters":{}},"paths":{"/healthz":{"get":{"tags":["health"],"operationId":"healthCheck","summary":"Liveness probe.","security":[],"responses":{"200":{"description":"The control plane process is up.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthStatus"}}}}}}},"/v1":{"get":{"tags":["meta"],"operationId":"getApiVersion","summary":"API version handshake.","responses":{"200":{"description":"The served API version.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiVersionInfo"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes":{"post":{"tags":["runtimes"],"operationId":"createRuntime","summary":"Create a runtime.","parameters":[{"schema":{"type":"string","minLength":1,"description":"Optional client-supplied idempotency key. Same key + same body within the 24-hour replay window → 200 with the original runtime (not a new create); same key + different body → CONFLICT. Replay is the intended recovery path for a client that loses a runtime id after a 201: re-send the identical create and read the id back. Omitted = no idempotency claim — a retried create makes a second runtime."},"required":false,"description":"Optional client-supplied idempotency key. Same key + same body within the 24-hour replay window → 200 with the original runtime (not a new create); same key + different body → CONFLICT. Replay is the intended recovery path for a client that loses a runtime id after a 201: re-send the identical create and read the id back. Omitted = no idempotency claim — a retried create makes a second runtime.","name":"idempotency-key","in":"header"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRuntimeRequest"}}}},"responses":{"200":{"description":"Idempotent replay — the runtime for this key already existed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeWithObserved"}}}},"201":{"description":"Runtime created. `observed` is normally absent here — a fresh runtime has no observation yet (absence means \"not yet observed\", never an error).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeWithObserved"}}}},"400":{"description":"INVALID_REQUEST — bad JSON or failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"402":{"description":"INSUFFICIENT_BALANCE — the team's balance is not positive; top up before creating.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsufficientBalanceError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such volume for `volumeId` (unknown, malformed, or another team's).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VolumeNotFoundError"}}}},"409":{"description":"Two causes share this status — `code` names which: CONFLICT (the Idempotency-Key was reused with a different request) or VOLUME_BUSY (the volume named by `volumeId` is attached elsewhere or mid-delete).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdempotencyConflictError"}}}},"422":{"description":"INVALID_REQUEST — a policy gate (not shape validation) refused a well-formed request: the requested resources match no preset this package may use (see GET /v1/presets), ephemeralStorageBytes exceeds the 8 GiB free cap (contact sales for larger rootfs disks), the requested `region` does not offer this preset (see GET /v1/regions), or a `region` sent alongside `volumeId` disagrees with the volume's home / the volume's home does not offer this preset (the runtime follows its volume).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PolicyRefusedError"}}}},"429":{"description":"A limit refused the request — `code` names which. RATE_LIMITED: the per-key request-rate budget (wait `Retry-After`, then retry). CONCURRENCY_LIMIT: the team's running-runtime cap is reached (a quota — destroy a runtime or raise the cap; no Retry-After is sent, because waiting cannot free it). RESOURCE_QUOTA: a per-family vCPU/memory ceiling would be passed (resource-governance) — the message names the family and the exceeded axis; stop or destroy a runtime of that family, or raise the family quota (no Retry-After).","headers":{"Retry-After":{"description":"Present ONLY on the RATE_LIMITED branch: whole seconds until at least one token refills. The CONCURRENCY_LIMIT and RESOURCE_QUOTA branches never send it.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LimitExceededError"}}}},"503":{"description":"NO_CAPACITY — the requested/resolved location cannot take this runtime right now (its cluster is full, draining, or not yet live). No row or charge is created; retry later or pick another region. Never a silent cross-location fallback.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoCapacityError"}}}}}},"get":{"tags":["runtimes"],"operationId":"listRuntimes","summary":"List runtimes (cursor-paged, metadata-filterable).","description":"Pages in creation order via `?limit=` (1–100, default 20) + `?cursor=` (opaque; pass the previous page's `nextCursor` verbatim). Equality-filter on correlation labels with DYNAMIC query params of the form `?metadata.<key>=<value>` (multiple filters AND together), and on the home location with `?region=` (the `region` each response echoes). Destroyed runtimes are excluded unless `?includeDestroyed=true`. Returns desired-side handles only — read an individual runtime for its observed state.","parameters":[{"schema":{"type":"integer","minimum":1,"maximum":100,"description":"Page size, 1–100 (default 20)."},"required":false,"description":"Page size, 1–100 (default 20).","name":"limit","in":"query"},{"schema":{"type":"string","format":"uuid","description":"Opaque page cursor — pass the previous page's `nextCursor` verbatim. Omitted = from the start."},"required":false,"description":"Opaque page cursor — pass the previous page's `nextCursor` verbatim. Omitted = from the start.","name":"cursor","in":"query"},{"schema":{"type":"string","enum":["true","false"],"description":"Destroyed runtimes are excluded unless this is `true`. Ignored when an explicit `desiredState` filter is present (that filter fully determines state visibility)."},"required":false,"description":"Destroyed runtimes are excluded unless this is `true`. Ignored when an explicit `desiredState` filter is present (that filter fully determines state visibility).","name":"includeDestroyed","in":"query"},{"schema":{"type":"array","items":{"type":"string","enum":["running","stopped","destroyed"]},"description":"Repeatable desired-state filter (`running|stopped|destroyed`): OR within the repeated values, AND with the metadata filters. When present it fully determines state visibility — `?desiredState=destroyed` returns destroyed runtimes without `includeDestroyed`. Absent = destroyed excluded unless `includeDestroyed=true`."},"required":false,"description":"Repeatable desired-state filter (`running|stopped|destroyed`): OR within the repeated values, AND with the metadata filters. When present it fully determines state visibility — `?desiredState=destroyed` returns destroyed runtimes without `includeDestroyed`. Absent = destroyed excluded unless `includeDestroyed=true`.","name":"desiredState","in":"query"},{"schema":{"type":"string","minLength":1,"description":"Equality filter on the home location — the `region` every response echoes (ANDs with the other filters). A value no runtime carries returns an empty page, never an error (discovery: GET /v1/regions)."},"required":false,"description":"Equality filter on the home location — the `region` every response echoes (ANDs with the other filters). A value no runtime carries returns an empty page, never an error (discovery: GET /v1/regions).","name":"region","in":"query"}],"responses":{"200":{"description":"One page of runtimes, `nextCursor` present iff another page exists.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimesList"}}}},"400":{"description":"INVALID_REQUEST — bad limit/cursor/desiredState/region, or an empty metadata filter key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}":{"get":{"tags":["runtimes"],"operationId":"getRuntime","summary":"Read a runtime.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"The runtime handle, optionally with its observed state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeWithObserved"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}},"delete":{"tags":["runtimes"],"operationId":"destroyRuntime","summary":"Destroy a runtime (async, idempotent).","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"202":{"description":"Desired state → destroyed (delete compute, reap volume). Terminal.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/start":{"post":{"tags":["runtimes"],"operationId":"startRuntime","summary":"Start a runtime (async, idempotent).","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"202":{"description":"Desired state → running; the engine will converge.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"402":{"description":"INSUFFICIENT_BALANCE — the team's balance is not positive; top up before starting.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InsufficientBalanceError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — the runtime is destroyed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeDestroyedError"}}}},"429":{"description":"A limit refused the request — `code` names which. RATE_LIMITED: the per-key request-rate budget (wait `Retry-After`, then retry). CONCURRENCY_LIMIT: the team's running-runtime cap is reached (a quota — destroy a runtime or raise the cap; no Retry-After is sent, because waiting cannot free it). RESOURCE_QUOTA: a per-family vCPU/memory ceiling would be passed (resource-governance) — the message names the family and the exceeded axis; stop or destroy a runtime of that family, or raise the family quota (no Retry-After).","headers":{"Retry-After":{"description":"Present ONLY on the RATE_LIMITED branch: whole seconds until at least one token refills. The CONCURRENCY_LIMIT and RESOURCE_QUOTA branches never send it.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LimitExceededError"}}}}}}},"/v1/runtimes/{id}/stop":{"post":{"tags":["runtimes"],"operationId":"stopRuntime","summary":"Stop a runtime (async, idempotent).","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"202":{"description":"Desired state → stopped (release compute, retain volume).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — the runtime is destroyed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeDestroyedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/restart":{"post":{"tags":["runtimes"],"operationId":"restartRuntime","summary":"Restart a runtime (imperative bounce).","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"202":{"description":"Pod recreated on the same volume; desired state unchanged.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — only a running runtime can be restarted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotRunningError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/exec":{"post":{"tags":["runtimes"],"operationId":"execRuntime","summary":"Run a one-shot command in the live compute and wait for its result.","description":"Synchronous: `timeoutMs` (default and cap 30 s) bounds output CAPTURE — a deadline cut is a 200 result with `timedOut: true` and the partial streams, never an error, and never stops the process (stop/start the runtime for a runaway). 1 MiB captured per stream (stdout/stderr each truncate with a marker); size client timeouts above 30 s. Longer commands: use POST /v1/runtimes/{id}/exec/detached, polled via GET /v1/runtimes/{id}/exec/{execId}.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecRequest"}}}},"responses":{"200":{"description":"The command ran (or failed to run, or was deadline-cut — `timedOut` says so); its captured result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecResult"}}}},"400":{"description":"INVALID_REQUEST — malformed body, over-cap stdin, or out-of-bounds timeoutMs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — no running compute to exec into (not provisioned yet, crash-looping, stopped, or it died under the command) — retry after the runtime is observed running.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotRunningError"}}}},"413":{"description":"INVALID_REQUEST — the request body exceeds the 512 KiB wire bound; refused before parsing. Nothing ran in the runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayloadTooLargeError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}},"get":{"tags":["runtimes"],"operationId":"listRuntimeExecs","summary":"List the runtime's detached execs (in-flight and briefly retained).","description":"Detached execs only — sync execs are request-scoped and never listed. Records are in-process: retained briefly after exit (minutes, platform policy), then gone; an engine restart also loses them (the command dies with its stream). Scoped to the runtime exactly like the poll endpoint — another runtime's execIds never appear.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"The runtime's detached execs; empty when none are in flight or retained.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecList"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/exec/detached":{"post":{"tags":["runtimes"],"operationId":"execRuntimeDetached","summary":"Start a one-shot command without the synchronous deadline; poll for the result.","description":"Returns 202 {execId} immediately; the command runs without the 30-second sync deadline — `timeoutMs` (default and cap 30 min) bounds output CAPTURE; a deadline cut resolves the poll with `timedOut: true` and the partial streams, never an error, and never stops the process. Poll GET /v1/runtimes/{id}/exec/{execId} for status and captured output. Same capture limits as the synchronous verb (1 MiB per stream, truncated with a marker). At most 8 in flight per runtime.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetachedExecRequest"}}}},"responses":{"202":{"description":"The command started; poll with the execId.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecId"}}}},"400":{"description":"INVALID_REQUEST — malformed body, over-cap stdin, or out-of-bounds timeoutMs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — no running compute to exec into (not provisioned yet, crash-looping, stopped) — retry after the runtime is observed running.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotRunningError"}}}},"413":{"description":"INVALID_REQUEST — the request body exceeds the 512 KiB wire bound; refused before parsing. Nothing ran in the runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayloadTooLargeError"}}}},"429":{"description":"A limit refused the request — `code` names which. RATE_LIMITED: the per-key request-rate budget (wait `Retry-After`, then retry). CONCURRENCY_LIMIT: the team's running-runtime cap is reached (a quota — destroy a runtime or raise the cap; no Retry-After is sent, because waiting cannot free it). RESOURCE_QUOTA: a per-family vCPU/memory ceiling would be passed (resource-governance) — the message names the family and the exceeded axis; stop or destroy a runtime of that family, or raise the family quota (no Retry-After).","headers":{"Retry-After":{"description":"Present ONLY on the RATE_LIMITED branch: whole seconds until at least one token refills. The CONCURRENCY_LIMIT and RESOURCE_QUOTA branches never send it.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LimitExceededError"}}}}}}},"/v1/runtimes/{id}/exec/{execId}":{"get":{"tags":["runtimes"],"operationId":"getRuntimeExec","summary":"Poll a detached exec for status and captured output.","description":"Results are retained BRIEFLY after exit (minutes, platform policy), then the execId 404s — read the result promptly and store what you need. An engine restart also loses in-flight detached execs (the command dies with its stream); a 404 on an execId you were polling means exactly that.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string"},"required":true,"name":"execId","in":"path"}],"responses":{"200":{"description":"Current status; stdout/stderr are the capture so far (final once exited).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetachedExec"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime, or no such (or expired) execId for it.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecNotFoundError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/config":{"put":{"tags":["runtimes"],"operationId":"updateRuntimeConfig","summary":"Replace the opaque workload config (async, idempotent).","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigRequest"}}}},"responses":{"202":{"description":"Config replaced; the engine rolls the pod.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"400":{"description":"INVALID_REQUEST — malformed body or failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — the runtime is destroyed; config cannot be set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeDestroyedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/env":{"put":{"tags":["runtimes"],"operationId":"updateRuntimeEnv","summary":"Replace the env map whole (async, idempotent — no patch semantics).","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvRequest"}}}},"responses":{"202":{"description":"Env replaced; the engine re-materializes the dedicated env Secret and rolls the pod via the shared spec checksum. A canonically-identical map is a no-op (still 202, no restart).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"400":{"description":"INVALID_REQUEST — malformed body, bad env key shape, or map over the size cap.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — the runtime is destroyed; env cannot be set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeDestroyedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/network":{"put":{"tags":["runtimes"],"operationId":"updateRuntimeNetwork","summary":"Replace the egress posture whole (async; applies LIVE — no restart).","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkRequest"}}}},"responses":{"202":{"description":"Posture replaced; the engine swaps the network policy on the RUNNING runtime (no pod roll — the workload keeps running through the change). `{}` clears to the open-egress default. A canonically-identical posture is a no-op (still 202).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"400":{"description":"INVALID_REQUEST — malformed body, bad entry shape (denyOut takes IPv4 CIDRs only; allowOut takes CIDRs or domain patterns).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — the runtime is destroyed; network cannot be set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeDestroyedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/reach":{"post":{"tags":["runtimes"],"operationId":"reachRuntime","summary":"Resolve a runtime + internal port to a reach handle.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReachRequest"}}}},"responses":{"200":{"description":"A reach handle for the named port.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Reach"}}}},"400":{"description":"INVALID_REQUEST — malformed body or failed validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime, OR the named port was not declared at create. An undeclared port is permanently unroutable for this runtime (the orchestrator never invents a route), so it shares the permanent-fact 404 rather than the transient 409: retrying cannot succeed; declare the port at create.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — the runtime is not running, or is destroyed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotRunningError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/metadata":{"put":{"tags":["runtimes"],"operationId":"updateRuntimeMetadata","summary":"Replace the correlation-metadata map whole (synchronous — labels only).","description":"Whole-map replace, validated identically to create. Labels are NOT desired state: no `generation` bump, no engine interaction, no restart — the new map is visible immediately on reads and list filters. Allowed in every non-destroyed state.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataRequest"}}}},"responses":{"200":{"description":"The runtime handle carrying the replaced metadata map.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Runtime"}}}},"400":{"description":"INVALID_REQUEST — malformed map (bad key shape, over-cap entries); the stored map is unchanged.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — the runtime is destroyed; metadata cannot be set.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeDestroyedError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/logs":{"get":{"tags":["runtimes"],"operationId":"getRuntimeLogs","summary":"Tail of the workload's logs (text/plain).","description":"Server-side bounds: the last 1000 lines, capped at 1 MiB — a tail, not an archive; ship logs from inside the workload for retention. `?previous=true` reads the PRIOR container's tail after a crash — pair with `observed.lastExit` to debug a crash loop.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","enum":["true","false"],"description":"`true` reads the PRIOR container's tail after a crash/restart — the dying breath a crash-looping workload never shows in its live logs."},"required":false,"description":"`true` reads the PRIOR container's tail after a crash/restart — the dying breath a crash-looping workload never shows in its live logs.","name":"previous","in":"query"}],"responses":{"200":{"description":"The log tail. May be empty when the container has logged nothing.","content":{"text/plain":{"schema":{"type":"string"}}}},"401":{"description":"UNAUTHENTICATED — missing or invalid service token.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthenticatedError"}}}},"403":{"description":"TEAM_BLOCKED — the team is blocked: writes and non-billing reads are refused. The team, usage, ledger, and key-list reads remain available. Contact support.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamBlockedError"}}}},"404":{"description":"NOT_FOUND — no such runtime.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotFoundError"}}}},"409":{"description":"INVALID_STATE — no compute to read from (never started, stopped, or fully reaped), or `previous=true` with no prior container.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RuntimeNotRunningError"}}}},"429":{"description":"RATE_LIMITED — the caller exceeded its per-key rate budget (default 10 req/s, burst 2×; a package override raises both). Wait the `Retry-After` seconds, then retry.","headers":{"Retry-After":{"description":"Whole seconds until at least one token refills — the minimum wait before retrying.","schema":{"type":"integer","minimum":1}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitedError"}}}}}}},"/v1/runtimes/{id}/usage":{"get":{"tags":["runtimes"],"operationId":"getRuntimeUsage","summary":"Allocation-based usage counters over a window.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","format":"date-time","description":"Inclusive lower bound (ISO-8601). Must precede `to`."},"required":false,"description":"Inclusive lower bound (ISO-8601). Must precede `to`.","name":"from","in":"query"},{"schema":{"type":"string","format":"date-time","description":"Exclusive upper bound (ISO-8601)."},"required":false,"description":"Exclusive upper bound (ISO-8601).","name":"to","in":"query"}],"responses":{"200":{"description":"One aggregate usage window.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageList"}}}},"400":{"description":"INVALID_REQUEST — from/to not ISO-8601, or from not before to.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidRequestError"}}}},"401":{"description":"UNAUTHENTICATED — missing o
[...]
