// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as PlanirApi from "../../../index.js";

export declare namespace RegistryCredentialsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RegistryCredentialsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RegistryCredentialsClient.Options>;

    constructor(options: RegistryCredentialsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {RegistryCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PlanirApi.UnauthorizedError}
     * @throws {@link PlanirApi.ForbiddenError}
     * @throws {@link PlanirApi.TooManyRequestsError}
     *
     * @example
     *     await client.registryCredentials.listRegistryCredentials()
     */
    public listRegistryCredentials(
        requestOptions?: RegistryCredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<PlanirApi.RegistryCredentialsList> {
        return core.HttpResponsePromise.fromPromise(this.__listRegistryCredentials(requestOptions));
    }

    private async __listRegistryCredentials(
        requestOptions?: RegistryCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PlanirApi.RegistryCredentialsList>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PlanirApiEnvironment.Default,
                "v1/registry-credentials",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PlanirApi.RegistryCredentialsList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new PlanirApi.UnauthorizedError(
                        _response.error.body as PlanirApi.UnauthenticatedError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new PlanirApi.ForbiddenError(
                        _response.error.body as PlanirApi.TeamBlockedError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new PlanirApi.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PlanirApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/registry-credentials");
    }

    /**
     * From now on, EVERY pull from this host on the team authenticates with it — auto-matched by image host, public images included, no anonymous fallback while it exists (delete restores anonymous pulls). Existing runtimes self-heal: a runtime wedged on `ImagePullBackOff` retries onto the new credential within its backoff cycle, no verbs needed. Static basic-auth registries only (Docker Hub, GHCR, GitLab, quay, GAR `_json_key`, ACR service principal); ECR is NOT supported — its 12-hour tokens need node machinery this platform does not run yet.
     *
     * @param {PlanirApi.CreateRegistryCredentialRequest} request
     * @param {RegistryCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PlanirApi.BadRequestError}
     * @throws {@link PlanirApi.UnauthorizedError}
     * @throws {@link PlanirApi.ForbiddenError}
     * @throws {@link PlanirApi.ConflictError}
     * @throws {@link PlanirApi.TooManyRequestsError}
     *
     * @example
     *     await client.registryCredentials.createRegistryCredential({
     *         host: "host",
     *         username: "username",
     *         password: "password"
     *     })
     */
    public createRegistryCredential(
        request: PlanirApi.CreateRegistryCredentialRequest,
        requestOptions?: RegistryCredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<PlanirApi.RegistryCredential> {
        return core.HttpResponsePromise.fromPromise(this.__createRegistryCredential(request, requestOptions));
    }

    private async __createRegistryCredential(
        request: PlanirApi.CreateRegistryCredentialRequest,
        requestOptions?: RegistryCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PlanirApi.RegistryCredential>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PlanirApiEnvironment.Default,
                "v1/registry-credentials",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PlanirApi.RegistryCredential, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PlanirApi.BadRequestError(
                        _response.error.body as PlanirApi.InvalidRequestError,
                        _response.rawResponse,
                    );
                case 401:
                    throw new PlanirApi.UnauthorizedError(
                        _response.error.body as PlanirApi.UnauthenticatedError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new PlanirApi.ForbiddenError(
                        _response.error.body as PlanirApi.TeamBlockedError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new PlanirApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new PlanirApi.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PlanirApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/registry-credentials");
    }

    /**
     * @param {PlanirApi.GetRegistryCredentialRequest} request
     * @param {RegistryCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PlanirApi.UnauthorizedError}
     * @throws {@link PlanirApi.ForbiddenError}
     * @throws {@link PlanirApi.NotFoundError}
     * @throws {@link PlanirApi.TooManyRequestsError}
     *
     * @example
     *     await client.registryCredentials.getRegistryCredential({
     *         id: "id"
     *     })
     */
    public getRegistryCredential(
        request: PlanirApi.GetRegistryCredentialRequest,
        requestOptions?: RegistryCredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<PlanirApi.RegistryCredential> {
        return core.HttpResponsePromise.fromPromise(this.__getRegistryCredential(request, requestOptions));
    }

    private async __getRegistryCredential(
        request: PlanirApi.GetRegistryCredentialRequest,
        requestOptions?: RegistryCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PlanirApi.RegistryCredential>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PlanirApiEnvironment.Default,
                `v1/registry-credentials/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PlanirApi.RegistryCredential, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new PlanirApi.UnauthorizedError(
                        _response.error.body as PlanirApi.UnauthenticatedError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new PlanirApi.ForbiddenError(
                        _response.error.body as PlanirApi.TeamBlockedError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new PlanirApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new PlanirApi.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PlanirApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/registry-credentials/{id}");
    }

    /**
     * Running pods are untouched — pulls read credentials at pull time, so the next pull simply uses the new secret. The host cannot change: it is the credential's identity (one per host) — re-pointing to a different registry is delete + create. A WRONG rotation blocks every pull from this host (public images included) until fixed — visible as the runtime's `observed` waiting reason.
     *
     * @param {PlanirApi.RotateRegistryCredentialRequest} request
     * @param {RegistryCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PlanirApi.BadRequestError}
     * @throws {@link PlanirApi.UnauthorizedError}
     * @throws {@link PlanirApi.ForbiddenError}
     * @throws {@link PlanirApi.NotFoundError}
     * @throws {@link PlanirApi.TooManyRequestsError}
     *
     * @example
     *     await client.registryCredentials.rotateRegistryCredential({
     *         id: "id",
     *         username: "username",
     *         password: "password"
     *     })
     */
    public rotateRegistryCredential(
        request: PlanirApi.RotateRegistryCredentialRequest,
        requestOptions?: RegistryCredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<PlanirApi.RegistryCredential> {
        return core.HttpResponsePromise.fromPromise(this.__rotateRegistryCredential(request, requestOptions));
    }

    private async __rotateRegistryCredential(
        request: PlanirApi.RotateRegistryCredentialRequest,
        requestOptions?: RegistryCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PlanirApi.RegistryCredential>> {
        const { id, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PlanirApiEnvironment.Default,
                `v1/registry-credentials/${core.url.encodePathParam(id)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PlanirApi.RegistryCredential, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PlanirApi.BadRequestError(
                        _response.error.body as PlanirApi.InvalidRequestError,
                        _response.rawResponse,
                    );
                case 401:
                    throw new PlanirApi.UnauthorizedError(
                        _response.error.body as PlanirApi.UnauthenticatedError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new PlanirApi.ForbiddenError(
                        _response.error.body as PlanirApi.TeamBlockedError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new PlanirApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new PlanirApi.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PlanirApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/v1/registry-credentials/{id}");
    }

    /**
     * Nothing references a credential (binding is by host match), so delete never 409s. Running pods keep running; anonymous pulls from the host resume at the next pull. The latent edge: a stopped runtime on a `:latest`-class private image (tag defaults make Kubernetes re-pull on start) will fail its next start visibly — with a tagged or digest-pinned image, cached layers let it start.
     *
     * @param {PlanirApi.DeleteRegistryCredentialRequest} request
     * @param {RegistryCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PlanirApi.UnauthorizedError}
     * @throws {@link PlanirApi.ForbiddenError}
     * @throws {@link PlanirApi.NotFoundError}
     * @throws {@link PlanirApi.TooManyRequestsError}
     *
     * @example
     *     await client.registryCredentials.deleteRegistryCredential({
     *         id: "id"
     *     })
     */
    public deleteRegistryCredential(
        request: PlanirApi.DeleteRegistryCredentialRequest,
        requestOptions?: RegistryCredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteRegistryCredential(request, requestOptions));
    }

    private async __deleteRegistryCredential(
        request: PlanirApi.DeleteRegistryCredentialRequest,
        requestOptions?: RegistryCredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PlanirApiEnvironment.Default,
                `v1/registry-credentials/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new PlanirApi.UnauthorizedError(
                        _response.error.body as PlanirApi.UnauthenticatedError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new PlanirApi.ForbiddenError(
                        _response.error.body as PlanirApi.TeamBlockedError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new PlanirApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new PlanirApi.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PlanirApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/registry-credentials/{id}",
        );
    }
}
