// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as PlanirApi from "../../../index.js";

export declare namespace RegionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class RegionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<RegionsClient.Options>;

    constructor(options: RegionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Every location on offer, with per-family `available` derived live — the picker's "can I order here now" truth. `region` values are plain strings (e.g. "brq"), never an enum: new locations appear additively; send one as `region` on create. `available` is probed with the family's smallest preset, so a larger preset's create may still refuse 503 at the capacity margin. Unavailable means full, draining, or not yet commissioned — a create naming that location refuses 503 until it flips (re-read rather than remember; no pagination, the list is a menu).
     *
     * @param {RegionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PlanirApi.UnauthorizedError}
     * @throws {@link PlanirApi.ForbiddenError}
     * @throws {@link PlanirApi.TooManyRequestsError}
     *
     * @example
     *     await client.regions.listRegions()
     */
    public listRegions(requestOptions?: RegionsClient.RequestOptions): core.HttpResponsePromise<PlanirApi.RegionsList> {
        return core.HttpResponsePromise.fromPromise(this.__listRegions(requestOptions));
    }

    private async __listRegions(
        requestOptions?: RegionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<PlanirApi.RegionsList>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PlanirApiEnvironment.Default,
                "v1/regions",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PlanirApi.RegionsList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new PlanirApi.UnauthorizedError(
                        _response.error.body as PlanirApi.UnauthenticatedError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new PlanirApi.ForbiddenError(
                        _response.error.body as PlanirApi.TeamBlockedError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new PlanirApi.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PlanirApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/regions");
    }
}
