// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as PlanirApi from "../../../index.js";

export declare namespace VolumesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class VolumesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VolumesClient.Options>;

    constructor(options: VolumesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Every volume the team owns, standalone AND runtime-managed (`deleteWithRuntime: true` rows are the auto-created `/data` volumes, named `data-<runtimeId>`) — one storage model, two lifecycles.
     *
     * @param {VolumesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PlanirApi.UnauthorizedError}
     * @throws {@link PlanirApi.ForbiddenError}
     * @throws {@link PlanirApi.TooManyRequestsError}
     *
     * @example
     *     await client.volumes.listVolumes()
     */
    public listVolumes(requestOptions?: VolumesClient.RequestOptions): core.HttpResponsePromise<PlanirApi.VolumesList> {
        return core.HttpResponsePromise.fromPromise(this.__listVolumes(requestOptions));
    }

    private async __listVolumes(
        requestOptions?: VolumesClient.RequestOptions,
    ): Promise<core.WithRawResponse<PlanirApi.VolumesList>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PlanirApiEnvironment.Default,
                "v1/volumes",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PlanirApi.VolumesList, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new PlanirApi.UnauthorizedError(
                        _response.error.body as PlanirApi.UnauthenticatedError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new PlanirApi.ForbiddenError(
                        _response.error.body as PlanirApi.TeamBlockedError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new PlanirApi.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PlanirApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/volumes");
    }

    /**
     * Provisions the backing storage fully or leaves nothing (create saga) — a 201 means the volume exists and its size is the device-enforced hard cap. Born `available`; attach it by creating a runtime with `volumeId`. The volume is homed in a location at create (optional `region`, the same choice runtime create takes; the response echoes it) and stays there for life — a runtime attaching it is placed there. Billing accrues provisioned byte-seconds from create to delete, attached or not — so metered admission gates here exactly as on runtime create: a non-positive balance is a 402.
     *
     * @param {PlanirApi.CreateVolumeRequest} request
     * @param {VolumesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PlanirApi.BadRequestError}
     * @throws {@link PlanirApi.UnauthorizedError}
     * @throws {@link PlanirApi.PaymentRequiredError}
     * @throws {@link PlanirApi.ForbiddenError}
     * @throws {@link PlanirApi.ConflictError}
     * @throws {@link PlanirApi.UnprocessableEntityError}
     * @throws {@link PlanirApi.TooManyRequestsError}
     * @throws {@link PlanirApi.ServiceUnavailableError}
     *
     * @example
     *     await client.volumes.createVolume({
     *         name: "name",
     *         sizeBytes: 1
     *     })
     */
    public createVolume(
        request: PlanirApi.CreateVolumeRequest,
        requestOptions?: VolumesClient.RequestOptions,
    ): core.HttpResponsePromise<PlanirApi.Volume> {
        return core.HttpResponsePromise.fromPromise(this.__createVolume(request, requestOptions));
    }

    private async __createVolume(
        request: PlanirApi.CreateVolumeRequest,
        requestOptions?: VolumesClient.RequestOptions,
    ): Promise<core.WithRawResponse<PlanirApi.Volume>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PlanirApiEnvironment.Default,
                "v1/volumes",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PlanirApi.Volume, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new PlanirApi.BadRequestError(
                        _response.error.body as PlanirApi.InvalidRequestError,
                        _response.rawResponse,
                    );
                case 401:
                    throw new PlanirApi.UnauthorizedError(
                        _response.error.body as PlanirApi.UnauthenticatedError,
                        _response.rawResponse,
                    );
                case 402:
                    throw new PlanirApi.PaymentRequiredError(
                        _response.error.body as PlanirApi.InsufficientBalanceError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new PlanirApi.ForbiddenError(
                        _response.error.body as PlanirApi.TeamBlockedError,
                        _response.rawResponse,
                    );
                case 409:
                    throw new PlanirApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new PlanirApi.UnprocessableEntityError(
                        _response.error.body as PlanirApi.PolicyRefusedError,
                        _response.rawResponse,
                    );
                case 429:
                    throw new PlanirApi.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new PlanirApi.ServiceUnavailableError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PlanirApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/volumes");
    }

    /**
     * @param {PlanirApi.GetVolumeRequest} request
     * @param {VolumesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PlanirApi.UnauthorizedError}
     * @throws {@link PlanirApi.ForbiddenError}
     * @throws {@link PlanirApi.NotFoundError}
     * @throws {@link PlanirApi.TooManyRequestsError}
     *
     * @example
     *     await client.volumes.getVolume({
     *         id: "id"
     *     })
     */
    public getVolume(
        request: PlanirApi.GetVolumeRequest,
        requestOptions?: VolumesClient.RequestOptions,
    ): core.HttpResponsePromise<PlanirApi.Volume> {
        return core.HttpResponsePromise.fromPromise(this.__getVolume(request, requestOptions));
    }

    private async __getVolume(
        request: PlanirApi.GetVolumeRequest,
        requestOptions?: VolumesClient.RequestOptions,
    ): Promise<core.WithRawResponse<PlanirApi.Volume>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PlanirApiEnvironment.Default,
                `v1/volumes/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as PlanirApi.Volume, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new PlanirApi.UnauthorizedError(
                        _response.error.body as PlanirApi.UnauthenticatedError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new PlanirApi.ForbiddenError(
                        _response.error.body as PlanirApi.TeamBlockedError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new PlanirApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new PlanirApi.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PlanirApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/volumes/{id}");
    }

    /**
     * Removes the backing storage and ends billing at this instant. Only an `available` volume can be deleted: an attached one is held for its runtime's whole life (stopped included) — destroy the runtime first. The data is unrecoverable.
     *
     * @param {PlanirApi.DeleteVolumeRequest} request
     * @param {VolumesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link PlanirApi.UnauthorizedError}
     * @throws {@link PlanirApi.ForbiddenError}
     * @throws {@link PlanirApi.NotFoundError}
     * @throws {@link PlanirApi.ConflictError}
     * @throws {@link PlanirApi.TooManyRequestsError}
     *
     * @example
     *     await client.volumes.deleteVolume({
     *         id: "id"
     *     })
     */
    public deleteVolume(
        request: PlanirApi.DeleteVolumeRequest,
        requestOptions?: VolumesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteVolume(request, requestOptions));
    }

    private async __deleteVolume(
        request: PlanirApi.DeleteVolumeRequest,
        requestOptions?: VolumesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PlanirApiEnvironment.Default,
                `v1/volumes/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new PlanirApi.UnauthorizedError(
                        _response.error.body as PlanirApi.UnauthenticatedError,
                        _response.rawResponse,
                    );
                case 403:
                    throw new PlanirApi.ForbiddenError(
                        _response.error.body as PlanirApi.TeamBlockedError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new PlanirApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new PlanirApi.ConflictError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new PlanirApi.TooManyRequestsError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PlanirApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/volumes/{id}");
    }
}
